@import "../abstracts/mixins";
@import "../abstracts/variables";


.notification {
  background: #BF0218;
  padding: 5px 10px;
  border-radius: 12px;
  color: $whiteColor;
  font-size: 18px;
  line-height: 21.96px;
  text-align: center;
  width: auto;
  margin-left: auto;
  @media (max-width: $breakpoint-md) {
    text-align: left;
    font-size: 14px;
    margin:12px auto 0 0;
  }
}


.overflow-hidden {
  overflow: hidden;
}

.main {
  @media (min-width: $breakpoint-xl) {
    //min-height: 100vh;
  }
}

.html {
  &.overflow-menu {
    overflow: hidden;
  }
}

html.overflow-hidden body {
  overflow: hidden;
}

html:not(.touch-screen)::-webkit-scrollbar, html:not(.touch-screen) *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html:not(.touch-screen)::-webkit-scrollbar-track, html:not(.touch-screen) *::-webkit-scrollbar-track {
  background-color: #eee;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb, html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background-color: $accent-color !important;
}

.lg-actions .lg-next, .lg-actions .lg-prev {
  background-color: transparent !important;
  color: $whiteColor !important;
}

.lg-autoplay-button {
  display: none !important;
}


html {
  overflow-y: scroll;
}

body .hide-scrollbar, html .hide-scrollbar {
  scrollbar-width: none
}

body .hide-scrollbar::-webkit-scrollbar, html .hide-scrollbar::-webkit-scrollbar {
  display: none
}


img::selection {
  background-color: transparent;
}

.default-icon {
  width: 100%;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.--relative {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

.overlap {
  position: relative;
  z-index: 3;
}

body {
  &.overflow-hidden {
    // padding-left: calc(100vw - 100%);
    overflow: hidden;

  }
}


.body-padding {
  height: 84px;
  @media (max-width: $breakpoint-md) {
    height: 78px;
  }
}


.section {
  overflow: hidden;
  position: relative;

  & .heading {

  }

  &__top {
    margin-top: 28px;
    margin-bottom: 40px;
  }
}

.main {
  overflow: hidden;

    min-height: 80vh;

  &-wrapper {
    //   position: relative;
    //  min-height: 100vh;
    //  overflow: hidden;
    z-index: 1;
  }

}

.swiper {
  &-container {
    /*margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    opacity: 0;

    &.swiper-horizontal {
      touch-action: pan-y;
    }

    &.swiper-initialized {
      opacity: 1;
    }

    &:not(.swiper-no-swiping) {
      cursor: url(../img/drag.png) 16 9, ew-resize;
    }
  }

  &-pagination {
    position: relative;
    bottom: 0;
    margin-top: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    z-index: 2 !important;

    @media (max-width: $breakpoint-md) {
      display: flex;
    }

    &.swiper-pagination-horizontal {
      width: auto;
    }

    &-bullet {
      font-size: 0;
      width: 6px;
      height: 6px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 100%;
      margin: 0 3.5px;

      @include transition(.4);

      &:hover, &-active {
        background-color: rgba(255, 255, 255, 1);
        transform: scale(1.2);
      }
    }
  }

  &-controls {

  }

  &-button {
    &__wrap {
      cursor: auto;

      &.top {
        @media (min-width: $breakpoint-md) {
          position: absolute;
          top: 3%;
          right: 15px;
        }
        @media (max-width: $breakpoint-md) {
          position: relative;
          width: 100%;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          margin-top: 40px;
        }
      }
    }
  }

  &-button-next, &-button-prev {
    @include transition(.4);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;


    background: rgba(232, 244, 216, 1);
    @media (max-width: $breakpoint-md) {
      width: 40px;
      height: 40px;
    }

    & i {
      @include fontSize(40, 61);
      font-weight: 400;
      color: rgba(29, 31, 33, 1);
      @include transition(.5);
      position: absolute;
      top: 50%;
      left: 50%;

    }

    &:after {
      display: none;
    }

    &:hover {
      background: rgba(146, 192, 84, 1);

      & i {
        color: #fff;
      }
    }

    &.bg-pink {
      background: rgba(240, 175, 191, 1);

      &:hover {
        background: rgba(172, 0, 44, 1);
      }
    }
  }

  &-button-next {
    margin-left: 12px;
    & i{
      transform: translate(-50%, -50%);
    }

  }

  &-button-prev {
    & i {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &-pagination-progressbar {

  }
}

.swiper-pagination.swiper-pagination-horizontal {
  background: #EDEDF0;
  height: 5px;
  border-radius: 2px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);
}

.top-link {
  @include transition(.4);
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  cursor: pointer;
  border-radius: 100%;
  padding: .25em;
  width: 93px;
  height: 93px;
  background: rgba(191, 2, 24, 0.35);
  border: 3px solid rgba(191, 2, 24, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $breakpoint-xl) {
    width: 60px;
    height: 60px;

  }
  @media (max-width: $breakpoint-md) {
    width: 46px;
    height: 46px;
  }

  &.show {
    visibility: visible;
    opacity: 1
  }

  &.hide {
    visibility: hidden;
    opacity: 0
  }

  &__img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }

  & .screen-reader-text {
    position: absolute;
    clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px)
  }

  &:hover {
    background-color: rgba(191, 2, 24, 1);
  }
}


/*

.marquee {
  --marquee-width: 100vw;
  --marquee-height: 16.5vh;
  --marquee-el-displayed: 8;
  --marquee-el-width: calc(var(--marquee-width) / var(--marquee-el-displayed));
  --marquee-animation-duration: calc(var(--marquee-el) * 10s);
  position: relative;
  overflow: hidden;
  width: var(--marquee-width);
  height: var(--marquee-height);
  &-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-animation: scrollingLeft var(--marquee-animation-duration) linear infinite;
    animation: scrollingLeft var(--marquee-animation-duration) linear infinite;

    & .logo-item {
      position: relative;
      z-index: 1;
      width: var(--marquee-el-width);
      -ms-flex-negative: 0;
      flex-shrink: 0;
      & img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 80%;
        max-height: 70%;
        width: 100%;
        content-visibility: auto;
      }
    }
  }
}



.marquee-content .logo-item {
  position: relative;
  z-index: 1;
  width: var(--marquee-el-width);
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.marquee-content .logo-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 70%;
  width: 100%;
  content-visibility: auto;
}

.marquee-content .svg-img {
  width: var(--marquee-el-width);
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.marquee:nth-child(odd) .marquee-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-animation: scrollingRight var(--marquee-animation-duration) linear infinite;
  animation: scrollingRight var(--marquee-animation-duration) linear infinite;
}

@media (max-width: 1199px) {
  .marquee {
    --marquee-el-displayed: 4;
  }
}

@media (max-width: 767px) {
  .marquee {
    --marquee-el-displayed: 3;
    --marquee-animation-duration: calc(var(--marquee-el) * 2s);
  }

  .marquee-content .logo-item img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}
*/


.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 1s;
  transition: 1s;

  &__wrap {
    position: relative;
    padding-bottom: 60%;
    overflow: hidden;
  }
}