@import "../abstracts/mixins";
@import "../abstracts/variables";

.order {
  &__block {
    border: 1px solid #92c054;
    background: #fcfff8;
    border-radius: 8px;

    &-main {
      padding: 14px 18px 28px 18px;
      @media (max-width: $breakpoint-md) {
        padding: 0 0 30px 0;
        border: none;
      }

      .product-h__controls {
        @media (max-width: $breakpoint-md) {
          width: auto;
        }
      }
    }

    &:not(&.order__block-main) {
      padding: 14px 18px 5px 18px;
      @media (max-width: $breakpoint-md) {
        padding: 20px 10px;
      }

      & .heading {
        margin-bottom: 7px;
      }
    }

    &:not(&:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 26px;
    @media (max-width: $breakpoint-md) {
      font-size: 22px;
    }
  }

  &__desc {
    font-size: 22px;
    margin-bottom: 33px;
    @media (max-width: $breakpoint-md) {
      font-size: 16px;
      margin-bottom: 23px;
    }


    & * {
      font-size: 22px;
      line-height: 1.22;
      @media (max-width: $breakpoint-md) {
        font-size: 18px;
      }
    }

    & ul {
      padding-left: 12px;

      & li {
        &:not(&:last-child) {
          margin-bottom: 3px;
        }
      }
    }

    & a {
      color: rgba(191, 2, 24, 1);
    }

  }

  &__state {
    color: rgba(146, 192, 84, 1);
    position: absolute;
    right: 20px;
    top: 54px;
    @media (max-width: $breakpoint-md) {
      right: 0;
      top: 6px;
    }
  }

  &-info {
    &__list {
      display: grid;
      gap: 30px 93px;
      grid-template-columns: auto auto auto;

      margin-bottom: 33px;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: auto;
        gap: 14px;
      }
      @media (max-width: $breakpoint-md) {
        grid-template-columns: auto;
      }
    }

    &__title {
      font-size: 22px;
      margin-bottom: 10px;
      @media (max-width: $breakpoint-md) {
        font-size: 18px;
        margin-bottom: 5px;
      }
    }

    &__desc {
      font-size: 22px;
      @media (max-width: $breakpoint-md) {
        font-size: 14px;
      }
    }

    & .btn-edit {
      position: absolute;
      right: 0;
    }
  }


}


.profile-empty {
  max-width: 760px;
  margin: auto;

  &__wrap {
    height: 100%;
  }

  & img {
    margin: 0 auto 50px auto;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 33px;
    }
  }

  & .heading {
    font-size: 34px;
    margin-bottom: 33px;
    @media (max-width: $breakpoint-md) {
      font-size: 22px;
    }
  }

  & .btn-find {
    display: block;
    font-size: 16px;
    color: rgba(172, 0, 44, 1);
    margin-top: 33px;
  }

}

.s-create-account {
  & .heading {
    margin-bottom: 16px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 23px;
    }
  }

  & .description {
    @include fontSize(18, 20);
    margin-bottom: 33px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 25px;
    }
  }

  & .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &__wrap {
      padding-bottom: 100%;
      border-radius: 12px;
      overflow: hidden;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 33px;
      }
    }
  }

  &__inner {
    @media (min-width: $breakpoint-md) {
      flex-direction: row-reverse;
    }
  }

  & .btn-primary {
    width: 100%;
  }

  .btn-link__wrap {
    margin-top: 24px;
    margin-bottom: 47px;
    @media (min-width: $breakpoint-md) {
      margin: 33px 0;
    }
  }

  & .checkbox {

    &-entry {
      &:not(&:last-child) {
        margin-bottom: 9px;
      }

      &__wrap {
        margin-top: 47px
      }
    }
  }
}

.s-account {
  & .order {
    &__block {
      border: 1px solid #92c054;
      background: #fcfff8;
      border-radius: 8px;

      &-main {
        padding: 14px 18px 28px 18px;
        @media (max-width: $breakpoint-md) {
          padding: 0 0 30px 0;
          border: none;
        }

        .product-h__controls {
          @media (max-width: $breakpoint-md) {
            width: auto;
          }
        }
      }

      &:not(&.order__block-main) {
        padding: 14px 18px 5px 18px;
        @media (max-width: $breakpoint-md) {
          padding: 20px 10px;
        }

        & .heading {
          margin-bottom: 7px;
        }
      }

      &:not(&:last-child) {
        margin-bottom: 30px;
      }
    }

    &__title {
      margin-bottom: 10px;
      font-size: 26px;
      @media (max-width: $breakpoint-md) {
        font-size: 22px;
      }
    }

    &__desc {
      font-size: 22px;
      margin-bottom: 33px;
      @media (max-width: $breakpoint-md) {
        font-size: 16px;
        margin-bottom: 23px;
      }


      & * {
        font-size: 22px;
        line-height: 1.22;
        @media (max-width: $breakpoint-md) {
          font-size: 18px;
        }
      }

      & ul {
        padding-left: 12px;

        & li {
          &:not(&:last-child) {
            margin-bottom: 3px;
          }
        }
      }

      & a {
        color: rgba(191, 2, 24, 1);
      }

    }

    &__state {
      color: rgba(146, 192, 84, 1);
      position: absolute;
      right: 20px;
      top: 54px;
      @media (max-width: $breakpoint-md) {
        right: 0;
        top: 6px;
      }
    }

    &-info {
      &__list {
        display: grid;
        gap: 30px 93px;
        grid-template-columns: auto auto auto;

        margin-bottom: 33px;
        @media (max-width: $breakpoint-md) {
          grid-template-columns: auto;
          gap: 14px;
        }
        @media (max-width: $breakpoint-md) {
          grid-template-columns: auto;
        }
      }

      &__title {
        font-size: 22px;
        margin-bottom: 10px;
        @media (max-width: $breakpoint-md) {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }

      &__desc {
        font-size: 22px;
        line-height: 1.22;
        @media (max-width: $breakpoint-md) {
          font-size: 14px;
        }

        & * {
          &:not(&:last-child) {
            margin-bottom: 8px;
          }
        }
      }

      & .btn-edit {
        position: absolute;
        right: 0;
      }
    }


  }

  &__top {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 23px;
    }
  }


  & .account {
    &-title {
      font-size: 34px;
      @media (max-width: $breakpoint-md) {
        font-size: 22px;
      }

      &__wrap {
        margin-bottom: 25px;

        @media (max-width: $breakpoint-md) {
          margin-bottom: 33px;
          z-index: 3;
          position: relative;
        }
      }
    }

    &-menu {
      background: rgba(232, 244, 216, 1);
      border-radius: 4px;
      padding: 24px;
      min-height: calc(100vh - 200px);
      position: relative;

      @media (max-width: $breakpoint-md) {
        padding-top: 61px;
        position: absolute;
        -webkit-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        transform: translateX(-110%);
        -webkit-transition: .5s;
        transition: .5s;
        min-height: auto;
        width: calc(100% - 30px);
        left: 15px;
        top: -12px;
        z-index: 2;
        &:after {
          content: '';
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.47);
          position: absolute;
          top: 100%;
          left: 0;
        }
        &.is-open {
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
        }
      }

      &__item {
        & a {
          padding: 6px 12px;
          font-size: 22px;
          border-radius: 4px;
          display: block;

          & i {
            font-size: 16px;
            padding-right: 12px;
            color: rgba(29, 31, 33, 1);
          }
        }

        &.current {
          & a {
            background: rgba(146, 192, 84, 1);
            color: rgba(255, 255, 255, 1);
            text-shadow: 0 0 0.9px #fff, 0 0 0.9px #fff, 0 0 0.9px #fff;

            & i {
              color: #fff;
            }
          }
        }

        &:last-child {
          position: absolute;
          bottom: 15px;
          @media (max-width: $breakpoint-md) {
            position: relative;
            bottom: 0;
            margin-top: 50px;
          }
        }
      }
    }

    &-content {
      padding: 24px;
      border-radius: 4px;
      border: 1px solid rgba(29, 31, 33, 1);

      &:not(&:last-child) {
        margin-bottom: 30px;
        @media (max-width: $breakpoint-md) {
          margin-bottom: 14px;
        }
      }

      & .heading {
        font-size: 26px;
        width: calc(100% - 80px);
        @media (max-width: $breakpoint-md) {
          font-size: 22px;
        }
      }

      & .description {
        width: calc(100% - 35px);
        line-height: 1.1;
        font-size: 22px;
        @media (max-width: $breakpoint-md) {
          font-size: 18px;
        }
      }

      & .btn-link {
        font-size: 12px;
      }

      & .details {
        & li {
          position: relative;

          &:not(&:last-child) {
            margin-bottom: 20px;
          }


          & > div {
            color: rgba(29, 31, 33, 1);
            font-size: 22px;
            @media (max-width: $breakpoint-md) {
              font-size: 18px;
            }

            &:not(&.cvv__wrap) {
              &:nth-child(1) {
                margin-bottom: 12px;
              }

              &:nth-child(2) {
                width: calc(100% - 60px);
              }
            }

          }
        }

        & .btn-link {
          position: absolute;
          right: 0;
          bottom: 4px;
        }
      }


      &__top {
        margin-bottom: 20px;
      }

      & .empty {
        max-width: 266px;
        margin: 0 auto;

        &__img {
          width: 105px;
          height: 105px;
          margin-bottom: 16px;
        }
      }

      & .cvv {
        &__wrap {
          padding-right: 30px;
          width: 65px;

          &.hide {
            & .cvv__overlap {
              opacity: 1;
            }
          }
        }

        &__number, &__overlap {
          font-size: 22px;
        }

        &__overlap {
          position: absolute;
          top: 0;
          left: 0;
          background: #fff;
          width: calc(100% - 15px);
          height: 100%;
          opacity: 0;
        }

        &__btn {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          cursor: pointer;

          & i {
            color: rgba(112, 112, 112, 1);
            font-size: 10px;
            @include transition(.5);
          }

          &:hover {
            & i {
              color: $accent-color;
            }
          }
        }
      }


      & .product-h {
        padding: 8px 0;
        border-bottom: 0.5px solid #92C054;

        &:not(&:last-child) {
          margin-bottom: 2px;
        }

        &:last-child {
          border-bottom: none;
        }

        &__content {
          width: 75%;
          @media (max-width: $breakpoint-md) {
            //width: 60%;
          }
        }

        &__controls {
          width: 25%;
          margin: 0;
          text-align: right;

        }

        &__img {
          width: 45px;
          height: 45px;
          padding-left: 0;
          margin-right: 13px;
          @media (max-width: $breakpoint-md) {
            width: 40px;
            height: 40px;
            margin-right: 5px;
          }

          & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
          }
        }

        &__name, &__count {
          font-size: 16px;
          @media (max-width: $breakpoint-md) {
            font-size: 14px;
          }
        }

        &__info {
          width: calc(100% - 60px);
          @media (max-width: $breakpoint-md) {
            width: calc(100% - 45px);
          }

        }

        &__count {
          margin-top: 14px;
        }

        &__price {
          margin-bottom: 0;

          & del {
            & span {
              font-size: 12px;
              color: #afafaf;
            }
          }

          & .new {
            span {
              font-size: 16px;
              @media (max-width: $breakpoint-md) {
                font-size: 14px;
              }
            }
          }

        }

        & .btn-del {
          font-size: 14px;
          bottom: auto;
          right: 0;
          top: 8px;
        }
      }
    }
  }


  & .profile-menu {
    background: rgba(232, 244, 216, 1);
    border-radius: 4px;
    padding: 24px;
    //min-height: 761px;
    min-height: calc(100vh - 200px);
    position: relative;
    @media (max-width: $breakpoint-md) {
      display: none;
    }

    &__item {
      & a {
        padding: 6px 12px;
        font-size: 22px;
        border-radius: 4px;
        display: block;

        & i {
          font-size: 16px;
          padding-right: 12px;
          color: rgba(29, 31, 33, 1);
        }
      }

      &.current {
        & a {
          background: rgba(146, 192, 84, 1);
          color: rgba(255, 255, 255, 1);
          text-shadow: 0 0 0.9px #fff, 0 0 0.9px #fff, 0 0 0.9px #fff;

          & i {
            color: #fff;
          }
        }
      }

      &:last-child {
        position: absolute;
        bottom: 15px;
      }

    }
  }

  & .profile-info {
    padding: 24px;
    border-radius: 4px;
    border: 1px solid rgba(29, 31, 33, 1);

    &__top {
      margin-bottom: 20px;
    }

    &__heading {
      font-size: 26px;
      width: calc(100% - 80px);
      @media (max-width: $breakpoint-md) {
        font-size: 22px;
      }
    }

    &__description {
      width: calc(100% - 35px);
      // display: none;
      //  margin-top: 20px;
      line-height: 1.1;
      font-size: 22px;
      @media (max-width: $breakpoint-md) {
        font-size: 18px;
      }
    }

    & .btn {
      &-link {
        font-size: 12px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }

      &-delete {
        cursor: pointer;
        background: transparent;

        & i {
          color: rgba(112, 112, 112, 1);
          font-size: 22px;
        }
      }
    }


    /*
        &:nth-child(1) {
          @media (min-width: $breakpoint-md) {
            order: 1;
          }
        }

        &:nth-child(2) {
          @media (min-width: $breakpoint-md) {
            order: 3;
          }

        }

        &:nth-child(3) {
          @media (min-width: $breakpoint-md) {
            order: 5;
          }

        }

        &:nth-child(4) {
          @media (min-width: $breakpoint-md) {
            order: 2;
          }
        }

        &:nth-child(5) {
          @media (min-width: $breakpoint-md) {
            order: 4;
          }

        }
    */


    &.empty-info {
      .profile-info {
        &__description {
          width: 100%;
        }


      }

      & .btn-delete {
        display: none;
      }

      & .btn-add {
        display: block;
      }

      & .form-group {
        &__wrap {
          display: none;
        }
      }
    }
  }

  & .burger {
    &__wrap {
      width: 27px;
      height: 14px;
      z-index: 2;

      &.active {
        & span {
          &:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
          }


          &:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);
          }
        }
      }
    }

    & > span {
      height: 2px;
      background-color: rgba(29, 31, 33, 1);

    }
  }


  .sort-inner {
    @media (max-width: $breakpoint-md) {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-bottom: 26px;
      margin-top: 18px;
    }
  }


  & .btn {
    &__wrap {
      gap: 23px;
      flex-direction: column;
      align-items: center;
    }

    &-edit {

    }
  }


  & .products__grid:not(.grid-2,.grid-3) {
    @media (min-width: $breakpoint-md) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

  }
}

.personal-information {
  &__top {
    margin-bottom: 32px;
  }

  & .description {
    margin-top: 18px;
    font-size: 20px;
    @media (max-width: $breakpoint-md) {
      font-size: 16px;
    }
  }

  & legend {
    margin-bottom: 24px;
    font-size: 22px;
    @media (max-width: $breakpoint-md) {
      font-size: 18px;
    }
  }

  & .form-control {
    margin-bottom: 18px;

    &__wrap {
      & .form-control {
        &:nth-child(1) {
          width: calc(65% - 13px);
        }

        &:nth-child(2) {
          width: 35%;
        }
      }

    }
  }

  & .btn-primary {
    width: 100%;
  }

  & .popup-container {
    max-width: 530px;

    & .btn-close {
      top: 15px;
      right: 15px;
    }
  }

  & .checkbox-entry {
    margin-bottom: 24px;

    &, &__text {
      margin-left: 18px;
    }

    &__text {
      font-size: 13px;
      color: rgba(112, 112, 112, 1);
      margin-bottom: 12px;
    }
  }


}

// track order

.track-order {
  //padding: 14px 18px;

  border: 1px solid rgba(146, 192, 84, 1);
  background: rgba(252, 255, 248, 1);
  border-radius: 8px;

  &__main {
    padding: 14px 18px 28px 18px;
    @media (max-width: $breakpoint-md) {


      padding: 0;
      margin-bottom: 60px;
      background: transparent;
      border: none;
    }
  }

  &:not(&.track-order__main) {
    padding: 14px 18px 5px 18px;
    @media (max-width: $breakpoint-md) {
      padding: 20px 10px;
    }

    & .heading {
      margin-bottom: 7px;
    }
  }

  &:not(&:last-child) {
    margin-bottom: 30px;
  }

  &__btn {
    position: absolute;
    right: 20px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    @media (max-width: $breakpoint-md) {
      right: 0;
      bottom: 0;
    }

    & .btn-link {
      font-size: 12px;
      color: rgba(191, 2, 24, 1);
    }
  }

  &__carrier {
    font-size: 22px;
    @media (max-width: $breakpoint-md) {
      font-size: 16px;
    }
  }

  &__state {
    color: rgba(146, 192, 84, 1);
    position: absolute;
    right: 20px;
    top: 54px;
    @media (max-width: $breakpoint-md) {
      right: 0;
      top: 6px;
    }
  }

  & .heading {
    margin-bottom: 10px;
    font-size: 26px;
    @media (max-width: $breakpoint-md) {
      font-size: 22px;
    }
  }

  & .description {
    & * {
      font-size: 22px;
      line-height: 1.22;
      @media (max-width: $breakpoint-md) {
        font-size: 18px;
      }
    }

    & ul {
      padding-left: 12px;

      & li {
        &:not(&:last-child) {
          margin-bottom: 3px;
        }
      }
    }

    & a {
      color: rgba(191, 2, 24, 1);
    }
  }
}

.order-state {
  position: relative;

  display: flex;
  justify-content: flex-start;

  gap: 1px;
  min-height: unset;
  flex-direction: column;
  align-items: center;
  width: auto;

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 43px;
    padding: 0 2px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 33px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 84%;
      height: 1px;
      top: 22px;
      left: 10%;
      background: #92c054;
      @media (max-width: $breakpoint-md) {
        top: 12.5px;
      }
    }
  }

  &__icon {
    width: 43px;
    height: 43px;
    border-radius: 100%;
    background: rgba(232, 244, 216, 1);
    @media (max-width: $breakpoint-md) {
      width: 25px;
      height: 25px;
    }

    & + .order-state__desc {
      color: rgba(112, 112, 112, 1);
    }

    & i {
      color: transparent;
      font-size: 16px;
      @media (max-width: $breakpoint-md) {
        font-size: 14px;
      }
      @media (max-width: 320px) {
        font-size: 12px;
      }
    }

    &.active {
      background: rgba(146, 192, 84, 1);

      & i {
        color: #fff;
      }

      & + .order-state__desc {
        color: rgba(29, 31, 33, 1);
      }
    }
  }

  &__desc {
    font-size: 22px;
    @media (max-width: $breakpoint-md) {
      font-size: 10px;
    }
    @media (max-width: 320px) {
      font-size: 8px;
    }
  }
}

.shipping-info {
  &__title, &__desc {
    font-size: 22px;

  }


  &__title {
    margin-bottom: 13px;
    @media (max-width: $breakpoint-md) {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }

  &__desc {
    @media (max-width: $breakpoint-md) {
      font-size: 14px;
    }
  }

  &__wrap {
    @media (max-width: $breakpoint-md) {
      gap: 14px;
    }

    &:not(.recipient) {
      margin-bottom: 45px;
      margin-top: 28px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 33px;
      }

      & .shipping-info {
        &:last-child {
          padding-right: 22px;
        }
      }
    }

    &.recipient {


      & .shipping-info {
        width: 28%;
        @media (max-width: $breakpoint-md) {
          width: 100%;
        }
      }
    }
  }
}

.find-order {
  text-align: center;
  @media (max-width: $breakpoint-md) {
    text-align: left;
  }

  &.heading {
    margin-bottom: 16px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 18px;
    }
  }

  & ul {
    margin-bottom: 33px;


    & li {
      font-size: 20px;
      @media (max-width: $breakpoint-md) {
        font-size: 16px;
      }

      &:not(&:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.items-ordered {
  border-radius: 8px;
  background: rgba(146, 192, 84, 1);
  padding: 20px;
  margin-bottom: 33px;
  margin-top: 50px;
  @media (max-width: $breakpoint-md) {
    margin-top: 0;
  }

  &__heading {
    margin-bottom: 23px;
    font-size: 26px;
    color: #fff;
    @media (max-width: $breakpoint-md) {
      font-size: 22px;
    }
  }

  & .product-h {
    padding: 10px 0;

    &__name {

      margin-bottom: 4px;
    }

    &__count, &__name {
      display: block;
      font-size: 16px;
      color: #fff;
    }

    &__count {
      font-family: "Merriweather", serif;
    }

    &__img {
      padding-left: 0;
      margin-right: 13px;
      width: 35px;
      height: 45px;


    }

    &__price {
      margin: 0;

      & span {
        font-size: 16px;
        color: #fff;
      }
    }

    & .btn-del {
      background: transparent;
      color: rgba(172, 0, 44, 1);
      font-size: 14px;
      bottom: 36px;
    }

  }

}

.order-history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  & .btn-link {
    font-family: "Merriweather", serif;
    font-size: 12px;
  }

  .order {
    &__item {
      /*  padding:18px 20px;

        position: relative;

         background: url(../img/bg-mask.svg);
     //   border: 1px solid rgba(112, 112, 112, 1);
  */
      overflow: hidden;
      border-radius: 4px;
      padding: 18px 20px;
      position: relative;
      background: url(../img/bg-mask.svg) center;
      background-size: cover;
      border: 1px solid rgba(112, 112, 112, 1);
      border-width: 0 1px 0 1px;

      & > div {
        width: 65%;

        &:not(&:last-child) {
          margin-bottom: 7px;
        }

      }

      & .product {
        &__list {
          width: 100%;
          padding-top: 8px;
          padding-bottom: 4px;

          & li {
            &:not(&:last-child) {
              margin-bottom: 5px;
            }
          }

        }

        &__title, &__value {
          font-size: 14px;
          font-family: "Merriweather", serif;
        }
      }
    }

    &__heading, &__value {
      font-size: 18px;
      color: rgba(29, 31, 33, 1);
    }

    &__heading {
      @media (max-width: $breakpoint-md) {
        font-weight: 500;
      }
    }
  }
}

.order-information {
  .order__block-main {

    @media (max-width: $breakpoint-md) {
      background: transparent;
      border: none;
    }

  }

}

.order-more {
  & .popup {
    &-container {
      max-width: 1020px;
      border-radius: 20px;
      overflow: hidden;
      background: rgba(252, 255, 248, 1);
      @media (max-width: $breakpoint-md) {
        background: #fff;
      }

      & .btn-close {
        top: 15px;
        right: 15px;
      }
    }

    &-align {
      background: transparent;
      @media (min-width: $breakpoint-md) {
        padding: 50px 20px 20px 20px;
      }
    }
  }


  & .order {
    &__block {
      padding: 0;
      border: none;
      background: transparent;

      & .items-ordered {
        margin-top: 0;
      }

      & .btn-link {
        &__download {
          position: absolute;
          transform: translateY(-45px);
        }
      }

      .product-h__price {
        margin-top: 10px;
      }
    }

    &__state {
      top: 7px;
      right: 0;
      @media (max-width: $breakpoint-md) {
        right: 40px;
      }
    }
  }


  &__history {
    @media (min-width: $breakpoint-md) {
      & .order {
        &-info {
          &:nth-child(3) {
            text-align: right;
          }
        }

        &__state {
          top: 42px;
        }
      }
    }
  }
}