@import "../abstracts/mixins";
@import "../abstracts/variables";


.s-catalog {
  & .heading {
    margin-bottom: 40px;
    @include fontSize(22, 34);
    @media (max-width: $breakpoint-md) {
      padding-left: 32px;
    }
  }

  & .btn-transparent {
    display: block;
    width: 328px;
    margin: 50px auto;
    text-transform: uppercase;
    color:#1D1F21;
  }

  .catalog {
    &__layout {
      margin-right: 25px;
    }

    &__filter {
    }

    &__sort {
    }
  }


  .product {
    margin-bottom: 50px;

    &__name {
      font-size: 22px;
    }

    &__label {
      width: 48px;
      height: 48px;
      top: 0;
      left: 0;
    }

    &__price {
      margin-bottom: 14px;
    }

    &__fav {
      width: 48px;
      height: 48px;
      background-position: center;
    }

    .product__info {
      width: 100%;
      left: 0;
    }
  }

  .subcategory {
    padding: 34px 0 64px 0;

    & li {
      display: inline-block;
      padding: 10px 13px;
      border: 1px solid #1D1F21;
      margin-right: 33px;
      margin-bottom: 18px;
      border-radius: 4px;
      @include transition(.5);
      @media (max-width: $breakpoint-md) {
        margin-right: 14px;
      }

      & a {
        @include fontSize(18, 22);
        color: #1D1F21;
        @include transition(.5);
      }

      &.current, &:hover {
        background: #F0AFBF;
        border-color: #F0AFBF;

        & a {
          color: #BF0218;
        }
      }
    }
  }
}