@import "../abstracts/mixins";
@import "../abstracts/variables";

.category {
  &__item {
    &:nth-child(9) {
      @media (min-width: $breakpoint-md) {

        position: absolute;
        bottom: 0;
        right: calc(100% + 30px);
        width: calc(50% - 15px);
      }
    }

    @media (max-width: $breakpoint-md) {

    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    position: relative;
    @media (max-width: $breakpoint-md) {
      gap: 16px;
    }
  }

  &__heading {
    position: absolute;
    top: 18px;
    left: 14px;
    color: $whiteColor;
    // @include fontSize(14, 24);
    font-size: 24px;
    @media (max-width: $breakpoint-md) {
      font-weight: 400;
      top: 14px;
      left: 10px;
      font-size: 14px;
    }
  }

  &__btn {
    bottom: 14px;
    left: 14px;
    position: absolute;
    @media (max-width: $breakpoint-md) {
      padding: 0;
      bottom: 6px;
      right: 6px;
      left: auto;
    }

    & span {
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }

    & i {
      @media (max-width: $breakpoint-md) {
        width: 37.32px;
        height: 37.32px;
        right: 0;
        position: relative;
        margin: 0;
      }
    }

    &:hover {
      @media (max-width: $breakpoint-md) {
        & i {
          right: 0;
        }
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrap {
      position: relative;
      padding-bottom: 55%;
      border-radius: 12px;
      overflow: hidden;
      background: rgba(147, 147, 147, 1);
      @media (max-width: $breakpoint-md) {
        padding-bottom: 65%;
      }
    }
  }


  &__filter {
    & > li {
      &:not(&:last-child) {
        margin-bottom: 6px;
      }

      & > a {
        font-size: 22px;
        padding: 9px 0;
        border-radius: 9px;
        background: transparent;
        @include transition(.5);

        & img {
          width: 32px;
          height: 32px;
          object-fit: contain;
          margin-right: 12px;
        }

        & span {
          @include transition(.4);
          color: rgba(29, 31, 33, 1);
          width: calc(100% - 44px);
        }

        &.current, &:hover {
          background: #E8F4D8;

          & span {
            color: rgba(29, 31, 33, 1);
            text-shadow: 0 0 0.9px rgba(29, 31, 33, 1), 0 0 0.9px rgba(29, 31, 33, 1), 0 0 0.9px rgba(29, 31, 33, 1);
          }
        }
      }
    }

  }
}

.s-category {
  &__inner {
    margin-top: 5px;
  }

  & .heading {
    margin-bottom: 17px;
    font-size: 34px;
    line-height: normal;
    @media (max-width: $breakpoint-md) {
      margin: 0 0 40px 0;
    }
  }

  & .category {
    &__wrap {
      @media (min-width: $breakpoint-md) {
        margin-top: 8px;
      }
    }
  }

}

.s-subcategory {
  & .heading {
    margin-bottom: 23px;
    font-size: 34px;
    line-height: 1.26;
    margin-top: 5px;
    @media (max-width: $breakpoint-md) {
    }
  }

  & .category {
    &__wrap {
      @media (min-width: $breakpoint-md) {
        grid-template-columns: repeat(3, 1fr);

      }
    }
  }
}

.discount {
  &__item {
    display: block;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 40px;
      padding: 25px 13px;
    }

    & .img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &__wrap {
        padding-bottom: 62%;
        border-radius: 12px;
        overflow: hidden;
        @media (max-width: $breakpoint-md) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          padding-bottom: 0;
        }
      }
    }

    & .heading {
      margin-bottom: 10px;
      @include fontSize(26, 34);
    }

  }

  &__content {
    padding: 10px;
    background: rgba(255, 255, 255, .62);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    @media (min-width: $breakpoint-md) {
      padding: 5px 28px;
      position: absolute;
      top: 54px;
      left: 9px;
      max-width: calc(100% - 96px);
    }
  }
}

.s-discount {
  margin-bottom: 150px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 20px;
  }
}

.s-brands {
  margin: 100px 0 109px 0;
  @media (max-width: $breakpoint-md) {
    margin: 60px 0;
  }

  .marquee {
    --marquee-width: 100vw;
    --marquee-height: 16.5vh;
    --marquee-el-displayed: 10;
    --marquee-el-width: calc(var(--marquee-width) / var(--marquee-el-displayed));
    --marquee-animation-duration: calc(var(--marquee-el) * 10s);
    position: relative;
    overflow: hidden;
    width: var(--marquee-width);
    // height: var(--marquee-height);
    @media (max-width: 1500px) {
      --marquee-el-displayed: 10;
    }
  }

  .marquee-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-animation: scrollingLeft var(--marquee-animation-duration) linear infinite;
    animation: scrollingLeft var(--marquee-animation-duration) linear infinite;
  }

  .marquee-content .logo-item {
    position: relative;
    z-index: 1;
    width: var(--marquee-el-width);
    height: 62px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    background: transparent;
    margin: 0 15px;
    border-radius: 12px;
    border: 1px solid rgba(146, 192, 84, 1);
  }

  .marquee-content .logo-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 90%;
    width: 100%;
    content-visibility: auto;
    object-fit: contain;
  }

  .marquee-content .svg-img {
    width: var(--marquee-el-width);
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  /* .marquee:nth-child(odd) .marquee-content {
     -webkit-box-orient: horizontal;
     -webkit-box-direction: reverse;
     -ms-flex-direction: row-reverse;
     flex-direction: row-reverse;
     -webkit-animation: scrollingRight var(--marquee-animation-duration) linear infinite;
     animation: scrollingRight var(--marquee-animation-duration) linear infinite;
   }
 */

  @media (max-width: 1199px) {
    .marquee {
      --marquee-el-displayed: 4;
    }
  }

  @media (max-width: 767px) {
    .marquee {
      --marquee-el-displayed: 3;
      --marquee-animation-duration: calc(var(--marquee-el) * 2s);
    }

    .marquee-content .logo-item img {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }


}


.category__item {
  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: relative;
  }
}

.s-category__content {

}

.subcategory {

  &__list {
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: absolute;
    top: 0;
    background: #fff;
    z-index: 34;
    width: 100%;
    height: 100%;
    align-content: flex-start;
    opacity: 0;
    // @include transition(.5);

    &.active {
      opacity: 1;
    }
  }

  &__item {
    border-radius: 12px;
    overflow: hidden;
  }

  &__heading {
    font-size: 24px;
    position: absolute;
    top: 24px;
    left: 14px;
    color: rgba(255, 255, 255, 1);
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-wrap {
      position: relative;
      padding-bottom: 56%;
    }
  }

  &__more {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #bf0218;
    position: absolute;
    bottom: 16.11px;
    right: 15.21px;
    cursor: pointer;
    z-index: 3;
    transform: rotate(-45deg);
    @include transition(.5);

    & i {
      font-size: 40px;
      color: #fff;
    }

    &:hover {
      background: #fff;

      & i {
        color: #000;
      }
    }

  }
}