@import "../abstracts/mixins";
@import "../abstracts/variables";


.review {
  &__close {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent;

    position: absolute;
    top: 20px;
    right: 20px;

    & img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    &.show {
      display: block;
    }
  }

  &__item {
    border-radius: 29px;
    padding: 34px;
    width: 110%;
    @include transition(.4);
    @media (max-width: $breakpoint-md) {
      width: 100%;
      background: #AC002C;
    }
  }

  &__user {
    margin-bottom: 20px;

    &-content {
      text-align: left;
      width: calc(100% - 129px);
      @media (max-width: $breakpoint-sm) {
        width: calc(100% - 95px);
      }
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-box {
      height: 100px;
      width: 100px;
      border-radius: 100%;
      overflow: hidden;
      margin-right: 29px;
      @media (max-width: $breakpoint-sm) {
        height: 80px;
        width: 80px;

        margin-right: 15px;
      }
    }
  }

  &__name {
    font-size: 26px;
  }

  &__rating {
    margin-top: 10px;

    & i {
      font-size: 20px;
      color: #000;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  &__intro {
    font-size: 18px;
    line-height: 130%;


    &.full {
      height: auto;
    }
  }

  &__more {
    margin-top: 32px;
    font-size: 18px;
    cursor: pointer;
    @include transition(.4);
    opacity: 1;
    position: relative;
    margin-left: auto;
    width: max-content;

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background: rgba(29, 31, 33, 1);
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      margin: 0 auto;
      @include transition(.4);
    }

    &.hide {
      opacity: 0;
    }

    &:hover {
      &:after {
        width: 0;

      }
    }
  }
}


.swiper-slide:not(:first-child) {
  display: none;
}

.swiper-slide:not(:first-child) {
  display: block;
}

.ticker-wrapper__first-half, .ticker-wrapper__second-half {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  animation: ticker $duration infinite linear forwards;
}

.ticker-wrapper__second-half {
  animation: $duration ticker $duration/2 infinite linear forwards;
}


@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.quantity {
  & .screen-reader-text {
    display: none;
  }

  &.full {
    width: 100% !important;
    transition: width .5s ease-out;
  }

  & input {
    width: 100%;
    border: none;
    @include fontSize(18, 22);
    text-align: center;
    font-weight: 600;
    background: transparent;
  }

  & button {
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    border: none;
    background: #E8F4D8;
    cursor: pointer;
    //@include transition(.5);
    transition: background .5s ease-out;

    & svg {
      width: 65%;
      height: 65%;

      & path {
        fill: rgba(29, 31, 33, 1);
        @include transition(.5);
      }
    }

    &:hover {
      background: #456A29;

      & path {
        //fill: #fff;
      }
    }

    &.plus {
      right: 0;

    }

    &.minus {
      left: 0;
    }
  }

  &.bg-white {
    & button {
      background: #fff;
    }
  }
}

.product {
  &__item {
    display: block;
    width: 201px;
    margin: 0 auto;
    padding: 5px 0 0 0;
    // transform: scale(0.8);
    @include transition(.5);
    @media (max-width: $breakpoint-md) {
      transform: scale(0.8);
      width: 80%;
    }

    &:hover {
      & .product {
        &__img {
          transform: scale(1.07);

          &-wrap {

          }
        }
      }
    }

    &.type-2 {
      @media (min-width: $breakpoint-md) {
        padding: 55px 65px 30px 65px;
        width: 100%;
        background: rgba(240, 175, 191, 1);
        -webkit-border-radius: 54px;
        -moz-border-radius: 54px;
        border-radius: 54px;
        @include transition(.4);

        & .product {
          &__img {
            &-wrap {
              padding-bottom: 100%;
              min-height: 215px;
            }
          }

          &__fav {
            top: 30px;
            right: 30px;

            & i {
              color: #fff;
            }
          }

          &__info {
            text-align: center;

          }

          &__price {
            margin-bottom: 6px;
          }

          &__name {
            max-width: 200px;
            margin: 0 auto;

          }

          &__quantity {
            margin-bottom: 5px;

            &, & button {
              background: #fff;
            }
          }
        }

        &:hover {
          background: rgba(172, 0, 44, 1);

          & .product {
            &__img {
              transform: scale(1.16) translateY(-20px);
            }

            &__name, &__price {
              color: #fff;
            }

            &__quantity {
              transform: scale(1.3) translateY(-5px) translateX(-5px);
            }
          }
        }
      }
      @media (max-width: $breakpoint-md) {
        .product {
          &__info {
            position: relative;
          }

          &__price {
            color: #fff;
          }

        }
      }
    }
  }

  &__info {
    width: calc(100% + 18px);
    left: -9px;
    @media (max-width: $breakpoint-md) {
      // @include transition(.4);
      //opacity: 0;
    }
  }

  &__name {
    display: inline-block;
    font-size: 22px;
    font-size: -webkit-calc(18px + (22 - 18) * ((100vw - 300px) / (1920 - 300)));
    font-size: -moz-calc(18px + (22 - 18) * ((100vw - 300px) / (1920 - 300)));
    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1920 - 300)));
    line-height: 1.3;
    @include transition(.4);
  }

  &__img {
    position: absolute;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    @include transition(.5);

    &-wrap {
      padding-bottom: 120%;
      //  margin-bottom: 18px;
    }

  }

  &__price {
    @include fontSize(18, 22);
    font-family: "Merriweather", serif;
    font-weight: 400;
    line-height: 1.3;
    color: #101010;
    margin-bottom: 6px;
    width: calc(100% - 26px);
    @include transition(.4);

    & .new {
      color: #AC002C;
      display: block;
      @include fontSize(18, 22);
    }

    & del {
      color: #565656;

      @include fontSize(16, 18);
    }
  }

  &__label {
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: -5px;
    right: -15px;
    animation: pulse 2s infinite;
    @media (max-width: $breakpoint-md) {
      width: 70px;
      height: 70px;
      top: -2px;
      right: -14px;
    }
  }


}

.s-products {
  margin-bottom: 150px;

  & .heading {
    margin-bottom: 60px;

    & a {
      @include transition(.5);
    }

    &.accent-color {
      & a {
        color: rgba(197, 12, 12, 1);
      }
    }

    &:hover {
      & a {
        color: rgba(146, 192, 84, 1);
        text-shadow: 0 0 .9px rgba(146, 192, 84, 1), 0 0 .9px rgba(146, 192, 84, 1), 0 0 .9px rgba(146, 192, 84, 1);
      }
    }

    @media (max-width: $breakpoint-md) {
      width: 225px;
      &.decor {
        &:before {
          right: calc(100% + 15px);
        }

        &:after {
          left: calc(100% + 15px);
        }
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    margin-bottom: 60px;
    & .product {
      &__name {
        color: $whiteColor;
      }

      &__price {

        color: #FFFFFF;


        & .new {
          color: #FFFFFF;

        }

        & del {
          color: #C8C8C8;

        }
      }
    }
  }


  &.bg-pink {
    @media (min-width: $breakpoint-md) {
      margin-bottom: 130px;
    }

    & .heading {
      margin-bottom: 52px;
    }

    & .product__fav {
      & i {
        @media (max-width: $breakpoint-md) {
          color: #fff;
        }
      }

    }

    & .swiper {
      &-container {
        @media (max-width: $breakpoint-md) {
          width: calc(100% + 30px);
          left: -15px;
        }

        &:after {
          background: rgba(172, 0, 44, 1);
        }
      }

      &-button {
        &-next, &-prev {
          & i {
            color: #fff;
          }
        }
      }
    }
  }

  &.top {
    & .heading {

      margin-bottom: 40px;
    }


    & .swiper {


      &-container {
        &:after {
          background-color: rgba(146, 192, 84, 1);
        }
      }
    }

  }

  & .swiper {
    &-container {
      cursor: pointer;
      //padding: 0 20px;
      @media (max-width: $breakpoint-md) {
        padding: 74px 0 50px 0;
        width: calc(100% + 30px);
        left: -15px;
      }

      &:after {
        content: '';
        width: 100%;
        height: 163px;
        background-color: rgba(249, 209, 40, 1);
        border-radius: 54px;
        position: absolute;
        top: 67px;
        left: 0;
        @media (max-width: $breakpoint-md) {
          height: 100%;
          top: 0;
          border-radius: 26px;
          width: calc(100% - 30px);
          left: 15px;
        }
      }
    }

    &-button-prev, &-button-next {
      position: absolute;
      top: 27%;
      //transform: translateY(-50%);
      z-index: 4;
      @media (max-width: $breakpoint-md) {
        top: auto;
        bottom: 50px;
        transform: none;
      }
    }

    &-button-prev {
      left: -73px;
      @media (max-width: $breakpoint-md) {
        left: 21px;
      }
    }

    &-button-next {
      right: -73px;
      @media (max-width: $breakpoint-md) {
        right: 21px;
      }
    }

    &-slide {
      @media (max-width: $breakpoint-md) {
        & .product {
          &__info, &__quantity {
            opacity: 0;
          }

        }
      }

      &-active {
        @media (max-width: $breakpoint-md) {
          & .product {
            &__item {
              transform: scale(1);
            }

            &__info, &__quantity {
              opacity: 1;
            }

          }
        }

      }
    }
  }

  & .product {
    &__quantity {
      margin-bottom: 18px;
      margin-top: -43px;
      z-index: 3;
      position: relative;
      background: #E8F4D8;
      border-radius: 43px;
      height: 43px;
      width: 43px;
      margin-left: auto;
      @include transition(.5);
      @media (max-width: $breakpoint-md) {
        @include transition(.4);
        opacity: 0;
      }


      & button {

        width: 43px;
        height: 43px;
        border-radius: 100%;
        border: none;
        background: #E8F4D8;
        cursor: pointer;
        @include transition(.5);

        & svg {
          width: 28px;

          & path {
            @include transition(.5);
          }
        }
      }
    }

    &__fav {
      position: absolute;
      top: 0;
      right: 17px;
      cursor: pointer;
    }
  }

  &.no-bg {
    & .swiper {
      &-container {
        &:after {
          @media (min-width: $breakpoint-md) {
            display: none;
          }
          background: rgba(172, 0, 44, 1);
        }
      }
    }
  }
}

.s-hero {
  height: 100vh;
  color: #fff;
  margin-bottom: 120px;
  @media (max-width: $breakpoint-md) {
    height: auto;
    margin-bottom: 60px;
  }

  & .container {
    margin: 0 auto;
  }

  &__nav {
    position: absolute;
    top: 83px;
    padding-top: 5.5vh;
    @media (max-width: $breakpoint-md) {
      padding-top: 57px;
      top: 78px;
    }

    & .navbar {
      width: 100%;
      margin-bottom: 52px;
      @media (max-width: $breakpoint-md) {
        display: none;
      }

      & .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3.75em;

        &-item {
          & a {
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            color: $whiteColor;
            font-family: "Merriweather", serif;
            @include transition(.5);
          }

          &:hover {
            & a {
              color: $whiteColor;
              text-shadow: 0 0 0.9px $whiteColor, 0 0 0.9px $whiteColor, 0 0 0.9px $whiteColor;
            }
          }
        }
      }
    }
  }

  &__inner {
    margin-top: 140px;
    padding-bottom: 20vh;

    @media (max-width: $breakpoint-xl) {
      padding-bottom: 12vh;
    }
    @media (max-width: $breakpoint-md) {
      margin-bottom: 25%;
      padding-bottom: 0;
      padding-top: 35%;


    }
    @media (max-width: 360px) {
      margin-bottom: 10%;
      padding-bottom: 0;
      padding-top: 25%;
    }
    @media screen and (min-width: 991px) and (max-height: 768px) {
      padding-bottom: 5vh;
    }
  }

  & .heading {
    margin-bottom: 20px;
    font-size: 48px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;
      font-size: 28px;
    }
    @media (max-width: 360px) {

      font-size: 24px;
    }
  }

  & .description {

    max-width: 520px;
    margin: 0 auto 35px auto;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 28px;
    }
  }

  & .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .6;

    &__wrap {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      // background: linear-gradient(183.79deg, #000000 2.67%, rgba(0, 0, 0, 0) 96.48%);
      background: #000000;


    }
  }
}

.s-advantages {
  background: rgba(232, 244, 216, 1);
  padding: 70px 0;
  margin-bottom: 100px;
  @media (max-width: $breakpoint-md) {
    padding: 47px 0 0 0;
    margin-bottom: 60px;
  }

  & .advantage {
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: brightness(0) saturate(100%);
      @include transition(.5);

      &-wrap {
        padding-bottom: 100%;

      }
    }

    &__heading {
      color: $accent-color;
      margin-bottom: 18px;
      @include fontSize(16, 24);
      @media (max-width: $breakpoint-md) {
        // margin-bottom: 18px;
      }
    }

    &__description {

    }

    &__item {
      grid-template-columns: 128px 1fr;
      display: grid;
      gap: 8px;
      @include transition(.5);
      @media (max-width: $breakpoint-md) {
        margin-bottom: 58px;
      }
      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 100px 1fr;
      }

      &:hover {
        & .advantage {
          &__img {
            transform: scale(1.08);
            filter: none;

            &-wrap {
            }
          }
        }
      }
    }
  }
}

.s-intro {
  & .intro {
    &__item {
      margin-bottom: 100px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 60px;
      }

      & .heading {
        margin-bottom: 38px;
      }

      @media (min-width: $breakpoint-md) {
        &:nth-child(even) {

          flex-direction: row-reverse;

          & .intro {

            &__img {
              &-wrap {
                width: 41%;
              }
            }

            &__content {
              width: 59%;

              // padding-left: 120px;
              padding-left: 8.6%;

            }
          }
        }

        &:nth-child(odd) {
          & .intro {
            &__img {
              &-wrap {
                width: 59%;
              }
            }

            &__content {
              padding-right: 30px;
              width: 41%;
            }
          }
        }
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-wrap {
        border-radius: 74px;
        overflow: hidden;
        height: 417px;
        @media (max-width: $breakpoint-xl) {
          border-radius: 45px;
        }
        @media (max-width: $breakpoint-md) {
          height: 169px;
          width: 100%;
          border-radius: 26px;
        }

        &:after {
          content: '';
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.47%, rgba(0, 0, 0, 0.63) 100%);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }
    }

    &__content {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 36px;
      }

      & .heading {
        & i, em {
          font-family: "Merriweather", serif;
          color: $accent-color;
          font-weight: 700;
        }

        margin-bottom: 38px;
        @media (max-width: $breakpoint-md) {
          margin-bottom: 34px;
        }
      }
    }

    &__name {
      @include fontSize(18, 34);
      bottom: 52px;
      left: 68px;
      position: absolute;
      color: #fff;
      z-index: 4;
      @media (max-width: $breakpoint-xl) {
        bottom: 15px;
        left: 37px;
      }
      @media (max-width: $breakpoint-md) {
        bottom: 24px;
        left: 24px;
      }
    }
  }

  & .btn__more {
    top: 46px;
    left: 68px;
    position: absolute;
    @media (max-width: $breakpoint-xl) {
      top: 15px;
      left: 15px;
    }
    @media (max-width: $breakpoint-md) {
      top: 6px;
      left: 6px;
    }
  }
}

.s-popular-category {
  margin-bottom: 120px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 60px;
  }

  & .heading {
    padding-right: 86px;
    color: #fff;
    @media (max-width: $breakpoint-md) {
      padding: 0 15px 34px 15px;
      text-align: center;
    }
  }

  &__inner {
    padding: 63px 119px 63px 40px;
    background: #AC002C;
    -webkit-border-radius: 74px;
    -moz-border-radius: 74px;
    border-radius: 74px;
    @media (max-width: $breakpoint-md) {
      padding: 80px 0 122px 0;
      border-radius: 26px;
    }
  }


  & .popular-category {
    &__item {
      display: block;
      // height: 250px;
      cursor: pointer;
      @include transition(.5);
      @media (min-width: $breakpoint-md) {
        padding: 0 15px;
      }
      @media (min-width: $breakpoint-xl) {
        padding: 0 25px;
      }

      &:hover {
        & .popular-category {
          &__img {
            // border: 6px solid #BF0218;
            &-wrap {
              @media (min-width: $breakpoint-md) {
                transform: scale(1.1);

                &:after {
                  content: '';
                  background: rgba(255, 255, 255, 1);
                }
              }
            }
          }

          &__name {
            //text-shadow: 0 0 .65px #fff, 0 0 .65px #ff;
            text-shadow: 0 0 .9px #fff, 0 0 .9px #fff, 0 0 .9px #fff;
          }
        }
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;

      width: 100%;
      object-fit: cover;
      border-radius: 100%;
      //border: 6px solid transparent;
      z-index: 2;
      content-visibility: auto;

      &-wrap {
        //display: none;

        //padding-bottom: 100%;
        /// height: 220px;

        // height: 205px;
        // width: 205px;
        border-radius: 100%;
        //  overflow: hidden;
        //margin-bottom: 32px;
        margin: 0 auto 32px auto;
        @include transition(.4);
        position: relative;

        &:before {
          content: '';
          padding-bottom: 100%;
          display: block;
          max-height: 225px;
        }

        &:after {
          content: '';
          width: calc(100% + 12px);
          height: calc(100% + 12px);
          border-radius: 100%;
          background: transparent;
          top: -6px;
          left: -6px;
          position: absolute;
          z-index: 1;
          @include transition(.4);
        }
      }
    }

    &__name {
      font-size: 26px;
      line-height: 1.1;
      color: #fff;
      @include transition(.5);
      @media (min-width: $breakpoint-md) {
        width: 110%;
        margin-left: -5%;
        display: block;
      }

      @media (max-width: $breakpoint-md) {
        width: 120%;
        margin-left: -10%;
      }
    }
  }

  & .swiper {
    &-button {
      &__wrap {
        @media (max-width: $breakpoint-md) {
          position: absolute;
          bottom: -76px;
          left: 50%;
          transform: translateX(-50%);
          width: 113px;
        }
      }

      &-next, &-prev {
        @media (min-width: $breakpoint-md) {
          background-color: rgba(29, 31, 33, 1);
          & i {
            color: rgba(255, 255, 255, 1);
          }
        }
        @media (max-width: $breakpoint-md) {
          & i {
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      &-next, &-prev {
        @media (min-width: $breakpoint-md) {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

        }
      }

      &-prev {
        @media (min-width: $breakpoint-md) {
          left: -87px;
        }
      }

      &-next {
        @media (min-width: $breakpoint-md) {

          left: calc(100% + 15px);
        }
      }
    }

    &-container {
      padding-top: 30px;
      @media (min-width: $breakpoint-xl) {
        width: calc(100% + 50px);
        left: -25px;
      }
      @media (min-width: $breakpoint-md) {
        width: calc(100% + 30px);
        left: -15px;
      }
      @media (max-width: $breakpoint-md) {
        width: calc(100% + 30px);
        left: -15px;
      }
    }

    &-slide {

      &:not(.swiper-slide-active) {
        & .popular-category {
          &__item {
            @media (max-width: $breakpoint-md) {
              transform: scale(0.8);

            }
          }

          &__img {
            &-wrap {
              @media (max-width: $breakpoint-md) {
                filter: blur(5px);
              }
            }
          }

          &__name {
            @media (max-width: $breakpoint-md) {
              opacity: 0;
              font-weight: 600;
            }
          }
        }
      }

      &-active {
        & .popular-category {
          &__item {
            @include transition(.5);
          }

          &__name {
            @media (max-width: $breakpoint-md) {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.s-steps {
  margin-bottom: 120px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 60px;
  }

  & .heading {
    margin-bottom: 42px;
    @media (max-width: $breakpoint-md) {
      max-width: 350px;
      margin: 0 auto 34px auto;

      &.decor {


        &:before {
          right: 95%;

        }

        &:after {
          left: 95%;

        }
      }
    }
    @media (min-width: $breakpoint-md) {
      max-width: 835px;
      margin-left: auto;
      margin-right: auto;
      &.decor {
        &:after, &:before {
          top: auto;
          bottom: 14px;
          transform: none;
        }

      }
    }
  }

  & .description {
    max-width: 404px;
    margin: 0 auto 35px auto;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 30px;
    }

  }

  & .btn-primary {
    margin-top: 34px;
  }

  & .step {
    &__item {
      position: relative;
      padding: 30px 0;

      @media (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: row-reverse;
        background: rgba(146, 192, 84, 1);
        /* border-style: solid;
         border-width: 60px;
         // border-image: url("../img/step-bg.svg");
         border-image: url("../img/Union.svg");
         border-image-slice: 60;
         border-image-repeat: round stretch;
         &:after {
           content: '';
           height: calc(100% + 6px);
           width: calc(100% + 6px);
           position: absolute;
           top: -3px;
           left: -3px;
           //  background: #D8D355;
           background: rgba(146, 192, 84, 1);
           z-index: -1;
         }*/
      }
      @media (max-width: $breakpoint-md) {
        text-align: center;
        padding: 0;
      }


    }

    &__heading {
      margin-bottom: 20px;
      @include fontSize(26, 38);
      @media (max-width: $breakpoint-md) {
        margin-bottom: 18px;
      }

      & span {
        font-size: 44px;
        @media (max-width: $breakpoint-md) {
          display: block;

        }
      }
    }

    &__description {
      @media (min-width: $breakpoint-md) {
        padding-left: 40px;
      }
    }
  }

  & .img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: bottom;
    object-fit: contain;


    &__wrap {
      position: relative;

      padding-bottom: 100%;

      @media (max-width: $breakpoint-md) {
        margin-bottom: 10px;

        border-style: solid;
        border-width: 40px;
        //border-image: url("../img/step-bg-mobil.svg");
        border-image: url("../img/Union-mobil.svg");
        border-image-slice: 40;
        border-image-repeat: stretch;
        &:after {
          content: '';
          height: calc(100% + 10px);
          width: 100%;
          position: absolute;
          top: -5px;
          left: 0;
          background: #92C054;

          z-index: -1;
        }
      }
    }
  }

  .swiper {
    &-container {
      @media (min-width: $breakpoint-md) {
        border-style: solid;
        border-width: 60px;
        border-image: url(../img/Union.svg);
        border-image-slice: 60;
        border-image-repeat: round stretch;

        &:after {
          content: '';
          height: calc(100% + 6px);
          width: calc(100% + 6px);
          position: absolute;
          top: -3px;
          left: -3px;
          //  background: #D8D355;
          background: rgba(146, 192, 84, 1);
          z-index: -1;
        }
      }
    }

    &-slide {
      background: #fff;
    }

    &-button {
      &-next, &-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #E8F4D8;
        @media (max-width: $breakpoint-md) {
          // display: none;
        }

        &:hover {
          background: #92C054;
        }
      }

      &-next {
        right: 0;
      }

      &-prev {
        left: 0;

      }
    }
  }
}

.s-reviews {
  padding: 0 0 120px 0;
  @media (max-width: $breakpoint-md) {
    padding: 0 0 60px 0;
    text-align: center;
  }

  & .heading {
    margin-bottom: 70px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 44px;
    }
  }

  & .btn-primary {
    margin-top: 48px;
    @media (max-width: $breakpoint-md) {
      margin-top: 28px;
      width: 100%;
      max-width: 328px;
    }
  }

  & .review {
    &__close {
      width: 24px;
      height: 24px;
      cursor: pointer;
      background: transparent;
      opacity: 0;
      position: absolute;
      top: 20px;
      right: 20px;
      @include transition(.4);

      & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      &.show {
        display: block;
      }
    }

    &__item {
      border-radius: 29px;
      padding: 34px;
      width: 110%;
      position: relative;
      @include transition(.4);
      @media (max-width: $breakpoint-md) {
        width: 100%;
        background: #AC002C;
        transform: rotate(8deg);
        padding: 20px;
      }

      &:hover {


      }

      &.full {
        transform: none !important;

        & .review__intro {
          background: linear-gradient(0deg, #1d1f21, #1d1f21);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          height: auto;
        }
      }
    }

    &__user {
      margin-bottom: 20px;

      &-content {
        text-align: left;
        width: calc(100% - 129px);
        @media (max-width: $breakpoint-sm) {
          width: calc(100% - 95px);
        }
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-box {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 29px;
        @media (max-width: $breakpoint-sm) {
          height: 80px;
          width: 80px;

          margin-right: 15px;
        }
      }
    }

    &__name {
      font-size: 26px;
    }

    &__rating {
      margin-top: 10px;
    }


    &__name, &__intro, &__more, &__rating i {
      color: #fff;
    }

    &__intro {
      font-size: 18px;
      line-height: 130%;
      height: 180px;
      overflow: hidden;

      background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &.full {
        height: auto;
      }
    }

    &__more {
      margin-top: 32px;
      font-size: 18px;
      cursor: pointer;
      @include transition(.4);
      opacity: 1;
      position: relative;
      margin-left: auto;
      width: max-content;

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        margin: 0 auto;
        @include transition(.4);
      }

      &.hide {
        opacity: 0;
      }

      &:hover {
        &:after {
          width: 0;

        }
      }
    }
  }

  & .swiper {
    &-container {
      overflow: visible;
    }

    &-slide {
      z-index: 1;

      &:nth-child(even) {
        & .review {
          &__item {
            @media (min-width: $breakpoint-md) {
              transform: rotate(7.43deg);
              background: rgba(172, 0, 44, 1);
            }


            &.rotate-remove {
              transform: rotate(0) translateY(-5%) scale(1.1);
              z-index: 4;
              position: relative;
            }
          }
        }
      }

      &:nth-child(odd) {
        & .review {
          &__item {
            @media (min-width: $breakpoint-md) {
              transform: rotate(-7.85deg);
              background: rgba(146, 192, 84, 1);
            }


            &.rotate-remove {
              transform: rotate(0) translateY(-5%) scale(1.1);
              z-index: 4;
              position: relative;
            }
          }
        }
      }

      &-active {

        z-index: 4;

        & .review {
          &__item {
            z-index: 3;
            background: rgba(232, 244, 216, 1) !important;
            transform: rotate(-8deg);
          }

          &__rating {
            & i {
              color: #000 !important;
            }
          }

          &__name, &__intro, &__more {
            color: #000 !important;
          }

          &__more {
            &:after {
              background: #000 !important;;
            }
          }

          &__intro {
            background: linear-gradient(0deg, rgba(29, 31, 33, 0.4), rgba(29, 31, 33, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      &-next, &-prev {
        z-index: 3;

      }

      &-next {
        & + .swiper-slide {
          z-index: 2;
        }
      }
    }
  }

  & .swiper {

    &-button-prev, &-button-next {
      position: absolute;
      top: 200px;
      // transform: translateY(-50%);
      z-index: 4;
      @media (max-width: $breakpoint-md) {
        background: rgba(240, 175, 191, 1);
        &:hover {
          background: rgba(172, 0, 44, 1);
        }
      }
    }

    &-button-prev {
      left: -5px;
    }

    &-button-next {
      right: -5px;

    }
  }

  .swiper-container:not(.swiper-no-swiping) {
    cursor: default;
  }

  .swiper-slide {
    &.open {
      z-index: 435345;
    }
  }

  & .review {
    &__item {
      &.open {
        background: #E8F4D8 !important;
        transform: none !important;
        z-index: 5678768;

        & .review {
          &__name, &__rating i {
            color: #1d1f21;
          }

          &__intro {
            //height: auto;
            background: linear-gradient(0deg, #1d1f21, #1d1f21);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          &__more {
            opacity: 0;
            //transform: translateY(-50px);
          }

          &__close {
            opacity: 1;
          }
        }
      }
    }
  }
}

.s-join {
  background: rgba(232, 244, 216, 1);
  padding: 98px 0 0 0;
  @media (max-width: $breakpoint-md) {
    padding: 60px 0 0 0;
    text-align: center;
  }

  & .heading {
    margin-bottom: 10px;
    @media (min-width: $breakpoint-md) {
      max-width: 530px;
    }
  }

  & .description {
    margin-bottom: 28px;
    @media (min-width: $breakpoint-md) {
      max-width: 430px;
    }
    @media (max-width: $breakpoint-md) {
      margin-bottom: 18px;
    }
  }

  & .btn-primary {
    min-width: 284px;
    @media (max-width: $breakpoint-md) {
      width: 100%;
      max-width: 320px;
    }
  }

  & .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;

    &__wrap {
      position: relative;
      padding-bottom: 83%;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 28px;
      }
    }

  }
}


.s-benefit {
  /* margin-bottom: 120px;
   @media (max-width: $breakpoint-md) {
     margin-bottom: 60px;
   }
   */
  &.category {
    margin-bottom: 120px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 60px;
    }
  }

  & .benefit {
    &__wrap {
      background: #92C054;
      border-radius: 54px;
      padding: 40px 21px;

      display: grid;
      grid-template-columns: repeat(4, auto);
      //gap: 2%;
      gap: 5.063em;

      @media (max-width: $breakpoint-md) {
        padding: 30px 10px;
        gap: 40px;
        grid-template-columns: 1fr;

      }
    }

    &__item {
      @media (max-width: $breakpoint-md) {
        margin: 0 auto;
      }

      & .heading {
        font-size: 28px;
        margin-bottom: 13px;
        @media (max-width: $breakpoint-md) {
          font-size: 24px;

        }
      }

      & .description {
        line-height: 1;
        font-size: 22px;
      }

      & .img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;

        &__wrap {
          width: 129.79px;
          height: 129.79px;
          margin: 0 auto 17px auto;
        }
      }

      &:nth-child(1) {
        max-width: 264px;

      }

      &:nth-child(2) {
        max-width: 308px;
      }

      &:nth-child(3) {
        max-width: 310px;
      }

      &:nth-child(4) {
        max-width: 243px;
      }
    }
  }
}

.s-about {
  & .heading {
    margin-bottom: 40px;
    margin-top: 25px;
    font-size: 34px;
    @media (max-width: $breakpoint-md) {
      font-size: 22px;
      margin: 22px 0 33px 0;
      padding-left: 24px;
      position: relative;
      &:before {
        content: '';
        width: 12px;
        height: 20px;
        background: url("../img/arrow-left.svg") center no-repeat;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  & .about {
    &-item {
      padding: 40px 25px;
      border-radius: 4px;
      background: rgba(232, 244, 216, 1);

      &:not(&:last-child) {
        margin-bottom: 30px;
        @media (max-width: $breakpoint-md) {
          margin-bottom: 33px;
        }
      }


      @media (max-width: $breakpoint-md) {
        padding: 20px 5px;
      }
      @media (max-width: $breakpoint-md) {
        padding: 20px 5px;
      }

      &:nth-child(odd) {
        @media (min-width: $breakpoint-md) {
          & .column {
            &:nth-child(1) {
              padding-right: 60px;
            }
          }
        }
      }

      &:nth-child(even) {
        @media (min-width: $breakpoint-md) {
          flex-direction: row-reverse;

          & .column {
            &:nth-child(2) {
              padding-right: 60px;
            }

          }
        }
      }

      & .title {

        font-size: 26px;
        margin-bottom: 12px;
        @media (max-width: $breakpoint-md) {
          font-size: 23px;
        }
      }

      & .description {
        & * {
          &:not(&:last-child) {
            margin-bottom: 8px;
          }
        }
      }

      & .img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;

        &__wrap {
          border-radius: 12px;
          padding-bottom: 57%;
          overflow: hidden;
          @media (max-width: $breakpoint-md) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

}


.s-subscribe {
  padding: 100px 0 0 0;

  &__inner {
    max-width: 90%;
    text-align: center;
  }

  & .heading {
    margin-bottom: 10px;

  }

  & .description {
    margin-bottom: 30px;
  }
}


.zip {
  &__input {
    background: transparent;
    @include fontSize(14, 18);
    padding: 12.5px 10px;
    color: rgba(112, 112, 112, 1);

    &::-webkit-input-placeholder {
      font-weight: 400;
      @include fontSize(14, 18);
      line-height: 1;

      color: rgba(112, 112, 112, 1);
      font-family: 'LeagueSpartan', sans-serif;

      opacity: 1;
      transition: opacity 0.5s;
    }

    &::-moz-placeholder {
      font-weight: 400;
      @include fontSize(14, 18);
      line-height: 1;

      color: #707070;
      font-family: 'LeagueSpartan', sans-serif;

      opacity: 1;
      transition: opacity 0.5s;
    }

    &:-ms-input-placeholder {
      font-weight: 400;
      @include fontSize(14, 18);
      line-height: 1;

      color: #707070;
      font-family: 'LeagueSpartan', sans-serif;

      opacity: 1;
      transition: opacity 0.5s;
    }

    &:focus::-webkit-input-placeholder {
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:focus::-moz-placeholder {
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:focus:-moz-placeholder {
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:focus:-ms-input-placeholder {
      opacity: 0;
      transition: opacity 0.5s;
    }

    &-wrap {
      border-radius: 29px;
      border: 1px solid #1D1F21;
      margin-bottom: 23px;
      padding: 0 18px;
    }
  }

  &__icon {
    font-size: 25px;
    color: rgba(29, 31, 33, 1);
  }

  &__btn {

  }
}