@import "../abstracts/mixins";
@import "../abstracts/variables";


.ticker-wrapper__first-half, .ticker-wrapper__second-half {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  animation: ticker $duration infinite linear forwards;
}

.ticker-wrapper__second-half {
  animation: $duration ticker $duration/2 infinite linear forwards;
}


@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.product {
  &__item {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0 0 0;
  }

  &__info {

  }

  &__name {
    @include fontSize(18, 22);
  }

  &__img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;

    &-wrap {
      padding-bottom: 120%;
      //  margin-bottom: 18px;
    }

  }

  &__price {
    font-size: 22px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    line-height: 1.3;
    color: #101010;
    margin-bottom: 14px;
    width: calc(100% - 26px);

    & .new {
      color: #C50C0C;
      display: block;
    }

    & del {
      color: #565656;
      font-size: 18px;
    }
  }

  &__label {
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: -5px;
    right: -15px;
    @media (max-width: $breakpoint-md) {
      width: 70px;
      height: 70px;
      top: -2px;
      right: -14px;
    }
  }

  &__quantity {
    margin-bottom: 18px;
    margin-top: -43px;
    z-index: 3;
    position: relative;
    background: #EEECB4;
    border-radius: 43px;

    & .screen-reader-text {
      display: none;
    }

    & input {
      width: calc(100% - 86px);
      border: none;
      @include fontSize(18, 22);
      text-align: center;
      font-weight: 600;
      background: transparent;
    }

    & button {
      width: 43px;
      height: 43px;
      border-radius: 100%;
      border: none;
      background: #EEECB4;
      cursor: pointer;
      @include transition(.5);

      & svg {
        width: 28px;

        & path {
          @include transition(.5);
        }
      }

      &:hover {
        background: #456A29;

        & path {
          fill: #fff;
        }
      }
    }
  }

  &__fav {
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}

.s-products {
  margin-bottom: 220px;
  @media (max-width: $breakpoint-xl) {
    margin-bottom: 160px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 124px;
  }

  &.sale {
    & .heading {
      color: #C50C0C;
      margin-bottom: 66px;
    }
  }

  &.top {
    & .heading {

      margin-bottom: 72px;
    }
  }

  & .swiper {
    &-container {
      &:after {
        content: '';
        width: 100%;
        height: 196px;
        background-color: rgba(249, 209, 40, 1);
        border-radius: 74px;
        position: absolute;
        top: 32px;
        left: 0;
      }
    }

    &-button-prev, &-button-next {
      position: absolute;
      top: 33%;
      transform: translateY(-50%);
      z-index: 4;
    }

    &-button-prev {
      left: 0;
    }

    &-button-next {
      right: 0;

    }
  }
}

.s-hero {
  height: 100vh;
  color: #fff;

  & .heading {
    margin-bottom: 38px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;
    }
  }

  & .description {
    margin-bottom: 42px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 28px;
    }
  }

  & .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .4;

    &__wrap {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      // background: linear-gradient(183.79deg, #000000 2.67%, rgba(0, 0, 0, 0) 96.48%);
      background: #000000;


    }
  }
}

.s-advantages {
  background: #FFFDD2;
  padding: 70px 0;
  margin-bottom: 220px;
  @media (max-width: $breakpoint-xl) {
    margin-bottom: 160px;
  }
  @media (max-width: $breakpoint-md) {
    padding: 124px 0 68px 0;
    margin-bottom: 124px;
  }

  & .advantage {
    &__item {
      grid-template-columns: 125px 1fr;
      display: grid;
      gap: 22px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 58px;
      }
      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 100px 1fr;
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      &-wrap {
        padding-bottom: 100%;

      }
    }

    &__heading {
      color: $accent-color;
      margin-bottom: 22px;
      @include fontSize(16, 28);
      @media (max-width: $breakpoint-md) {
        margin-bottom: 18px;
      }
    }

    &__description {

    }
  }
}

.s-intro {
  & .intro {
    &__item {
      margin-bottom: 220px;
      @media (max-width: $breakpoint-xl) {
        margin-bottom: 160px;
      }
      @media (max-width: $breakpoint-md) {
        margin-bottom: 124px;
      }

      & .heading {
        margin-bottom: 38px;
      }

      @media (min-width: $breakpoint-md) {
        &:nth-child(even) {

          flex-direction: row-reverse;

          & .intro {

            &__img {
              &-wrap {
                width: 41%;
              }
            }

            &__content {
              width: 59%;

              padding-left: 120px;
            }
          }
        }

        &:nth-child(odd) {
          & .intro {
            &__img {
              &-wrap {
                width: 59%;
              }
            }

            &__content {
              padding-right: 30px;
              width: 41%;
            }
          }
        }
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-wrap {
        border-radius: 74px;
        overflow: hidden;
        height: 417px;
        @media (max-width: $breakpoint-md) {
          height: 169px;
          width: 100%;
          border-radius: 26px;
        }

        &:after {
          content: '';
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.47%, rgba(0, 0, 0, 0.63) 100%);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }
    }

    &__content {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 36px;
      }

      & .heading {
        & i, em {
          font-family: "Merriweather", serif;
          color: #DC6F3C;
        }

        margin-bottom: 38px;
        @media (max-width: $breakpoint-md) {
          margin-bottom: 34px;
        }
      }
    }

    &__name {
      @include fontSize(18, 43);
      bottom: 46px;
      left: 68px;
      position: absolute;
      color: #fff;
      z-index: 4;
      @media (max-width: $breakpoint-md) {
        bottom: 24px;
        left: 24px;
      }
    }
  }
}

.s-category {
  margin-bottom: 220px;
  @media (max-width: $breakpoint-xl) {
    margin-bottom: 160px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 124px;
  }


  & .heading {
    padding-right: 50px;
    @media (max-width: $breakpoint-md) {
      padding: 0 16px 60px 0;
      text-align: center;
    }
  }

  &__inner {
    padding: 63px 119px 63px 40px;
    background: #D8D355;
    -webkit-border-radius: 74px;
    -moz-border-radius: 74px;
    border-radius: 74px;
    @media (max-width: $breakpoint-md) {
      padding: 80px 0 80px 16px;
      border-radius: 26px;
    }
  }


  & .category {
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-wrap {
        padding-bottom: 100%;
        max-height: 205px;
        border-radius: 100%;
        overflow: hidden;
        margin-bottom: 32px;
      }
    }

    &__name {
      font-size: 26px;
    }
  }

  & .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 15px);
  }
}

.s-steps {
  padding: 0 0 49px 0;

  & .heading {
    margin-bottom: 42px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 34px;
    }
  }

  & .description {
    margin-bottom: 35px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 30px;
    }

  }

  & .step {
    &__item {
      padding: 90px 0;
      background: #D8D355;
      @media (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: row-reverse;
      }
      @media (max-width: $breakpoint-md) {
        text-align: center;
      }
    }

    &__heading {
      margin-bottom: 20px;
      @include fontSize(28, 44);
      @media (max-width: $breakpoint-md) {
        margin-bottom: 18px;
      }

      & span {
        font-size: 44px;
        @media (max-width: $breakpoint-md) {
          display: block;

        }
      }
    }

    &__description {
      @media (min-width: $breakpoint-md) {
        padding-left: 40px;
      }
    }
  }

  & .img {
    &__wrap {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 10px;
      }
    }
  }
}

.s-reviews {
  padding: 171px 0 219.35px 0;
  @media (max-width: $breakpoint-md) {
    padding: 124px 0;
    text-align: center;
  }

  & .heading {
    margin-bottom: 60px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 34px;
    }
  }

  & .btn-primary {
    margin-top: 48px;
    @media (max-width: $breakpoint-md) {
      margin-top: 28px;
      width: 100%;
      max-width: 328px;
    }
  }

  & .review {
    &__item {
      border-radius: 29px;
      padding: 34px;
    }

    &__user {
      margin-bottom: 20px;

      &-content {
        width: calc(100% - 129px);
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-box {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 29px;
      }
    }

    &__name {
      font-size: 26px;
    }

    &__rating {
      margin-top: 12px;

      & i {
        font-size: 15px;
        color: #000;

        &:not(:last-child) {
          margin-right: 4px;
        }
      }
    }

    &__intro {
      font-size: 18px;
      line-height: 130%;
    }
  }

  & .swiper {
    &-container {
      overflow: visible;
    }

    &-slide {
      &-active {
        z-index: 435345;
      }

      &:nth-child(even) {
        & .review {
          &__item {
            transform: rotate(7.43deg);
          }

          &__rating {
            & i {
              color: #fff;
            }
          }

          &__name {
            color: #fff;
          }
        }
      }

      &:nth-child(odd) {
        & .review {
          &__item {
            transform: rotate(-7.85deg);
          }
        }
      }

      &:nth-child(5n+1) {
        & .review {
          &__item {
            background: #D8D355;
          }
        }
      }

      &:nth-child(5n+2) {
        & .review {
          &__item {
            background: #C4693D;
          }
        }
      }

      &:nth-child(5n+3) {
        & .review {
          &__item {
            background: #EEEBA3;
          }
        }
      }

      &:nth-child(5n+4) {
        & .review {
          &__item {
            background: #456A29;
          }
        }
      }

      &:nth-child(5n+5) {
        & .review {
          &__item {
            background: #F9D128;
          }
        }
      }
    }
  }

  & .swiper {

    &-button-prev, &-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 4;
    }

    &-button-prev {
      left: 0;
    }

    &-button-next {
      right: 0;

    }
  }
}

.s-join {
  background: #FFFDD2;
  padding: 98px 0 240px 0;
  @media (max-width: $breakpoint-md) {
    padding: 124px 0 96px 0;
    text-align: center;
  }

  & .heading {
    margin-bottom: 34px;
  }

  & .description {
    margin-bottom: 39px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 18px;
    }
  }

  & .btn-primary {
    @media (max-width: $breakpoint-md) {
      width: 100%;
      max-width: 320px;
    }
  }

  & .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;

    &__wrap {
      position: relative;
      padding-bottom: 72%;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 28px;
      }
    }

  }
}
