@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-thanks {
  height: 80vh;

  &__description, & .s-thanks__heading-sub {
    color: #1D1D1B;
  }

  &__heading {
    margin-bottom: 12px;

    &-sub {
      @include fontSize(26, 32);
      margin-bottom: 12px;
    }
  }

  &__description {
    font-size: 24px;
    margin-top: 12px;

    & p + p {
      margin-top: 12px;
    }
  }

  & .btn {
    margin-top: 12px;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;

      &:after {
        content: '';
        background: radial-gradient(52.65% 86.07% at 52.65% 50%, #E9EAED 0%, rgba(233, 234, 237, 0.7) 100%);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.s-error {
  height: 80vh;
  @media (max-width: $breakpoint-md) {
    padding: 182px 0;
    height: auto;
  }

  &:after {
    content: '';
    background: linear-gradient(263.89deg, #E9EAEE 59.25%, #FFFFFF 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    @media (max-width: $breakpoint-md) {
      width: 100%;
      height: calc(100% - 252px);
      top: auto;
      bottom: 0;
    }
  }

  &__description {
    margin-bottom: 26px;
    @include fontSize(40, 64);
  }

  &__number {
    max-width: 385px;
    height: 204px;
    object-fit: contain;
    margin: 0 auto 26px auto;
    @media (max-width: $breakpoint-md) {
      max-width: 260px;
      margin-bottom: 20px;
    }
  }

  &__bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    object-position: top;

    &-wrap {
      position: absolute;
      width: 60%;
      height: 100%;
      right: 0;
      @media (max-width: $breakpoint-md) {
        width: 100%;
        height: 252px;
        top: 0;
      }

      &:after {
        content: '';
        background: linear-gradient(270deg, rgba(233, 234, 237, 0) 0%, #E9EAED 100%);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        @media (max-width: $breakpoint-md) {
          background: linear-gradient(180deg, rgba(233, 234, 237, 0) 0%, #EDEEF1 100%);
        }
      }
    }
  }
}

.s-other {
  height: 100vh;
  @media (max-width: $breakpoint-md) {
    height: auto;
    margin-top: 136px;
    padding: 32px 0 88px 0;
  }

  &__inner {
    @media (max-width: $breakpoint-md) {
      flex-direction: column-reverse;

    }
  }

  &__heading {
    margin-bottom: 16px;
  }

  &__description {
    margin-bottom: 48px;
    @include fontSize(18, 24);
    color: #1B1B1B;
  }

  & .decor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  & .btn-primary {
    width: 300px;
    @media (max-width: $breakpoint-md) {
      width: 265px;
    }
  }

  &__img {
    margin-left: auto;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
    }
  }
}


:root {

  --h1: clamp(2.75rem, 1.4894rem + 2.6263vi, 4.375rem);
  --h2: clamp(1.625rem, 0.6553rem + 2.0202vi, 2.875rem);
  --h3: clamp(1.625rem, 0.6553rem + 2.0202vi, 2.875rem);
  --h4: clamp(1.25rem, 0.8621rem + 0.8081vi, 1.75rem);
  --h5: clamp(1.25rem, 0.8621rem + 0.8081vi, 1.75rem);
  --h6: clamp(1.125rem, 0.9311rem + 0.404vi, 1.375rem);
  --text-li-padding: 20px;
}

.s-default {

  @media (max-width: $breakpoint-md) {

  }

  &__inner {
    margin-top: 15px;
  }

  & .heading {

    margin-bottom: 32px;
  }


  .text h2,
  .text h3,
  .text h4,
  .text h5,
  .text h6 {
    font-weight: 600;
    color: var(--clr-title);
    margin-top: 35px;
    font-family: "Merriweather", serif;
    text-transform: uppercase;
  }

  .text b {
    color: var(--clr-title);
    font-weight: 600;
  }

  .text em {
    font-style: italic;
  }

  /*.text a:not(.btn):not(.btn-link) {
    display: inline;
    color: var(--clr-title);
    text-decoration: underline;
  }
*/
  .text a {
    display: inline;
    color: #000;
    text-decoration: underline;
  }

  .text {
    & p, ul, ol {
      margin-top: 15px;
      font-size: 22px;
      line-height: 26.84px;
    }
  }

  .text ul li,
  .text ol li {
    position: relative;
    // padding-left: 15px;
    margin-top: 0.5em;


  }

  & .text {
    & ul li {
      list-style: disc inside none;
    }

  }

  .text ul li:before {
    //  content: '';
    position: absolute;
    left: calc(var(--text-li-padding) / 2 - 0.5em);
    top: 0.5em;
    width: 0.30em;
    height: 0.30em;
    border-radius: 100%;
    /* background-color: var(--text-theme-color); */
    /* background-color: var(--clr-white-60); */
    background-color: #000;
  }

  .text ol {
    counter-reset: number;
  }

  .text ol li:before {
    counter-increment: number;
    content: counter(number, decimal) '.';
    display: inline-block;
    position: absolute;
    left: 0;
    font-weight: 300;
    line-height: inherit;
    /* color: var(--clr-white-60); */
    color: var(--clr-black);
  }

  .text .swiper-entry picture,
  .text .swiper-entry img {
    display: block;
  }

  .simple-page > * {
    margin-top: var(--sp-sm);
  }

  .simple-page :is(h1, h2, h3, h4, h5) {
    text-transform: uppercase;
  }

  .simple-page > * + :is(ol, ul, p) {
    margin-top: var(--text-space);
  }

  .simple-page > :is(h1, h2, h3, h4, h5, ul, ol) + * {
    /* margin-top: var(--text-space); */
    margin-top: var(--sp-sm);
  }

  .text img {
    display: block;
    width: 100%;
    border-radius: var(--text-rd);
  }

  .text figure {
    line-height: 0;
    width: 100% !important;
  }

  .text figure.aligncenter {
    text-align: center;
  }

  .text figure.alignright {
    text-align: right;
  }

  .text figure > img {
    width: auto;
  }

  .text figure figcaption {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: var(--clr-black);
    margin: 5px !important;
  }

  .text iframe {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: calc(100vh - var(--h-height));
    aspect-ratio: 16/9;
    border: 0;
    border-radius: var(--text-rd);
  }

  .text blockquote {
    position: relative;
    font-size: var(--h5);
    font-weight: 500;
    color: var(--clr-title);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: var(--sp-sm);
    padding: var(--sp-xs) var(--sp-sm);
    border-radius: var(--rd-2);
    background: var(--bg);
    border: solid 1px var(--clr-border);
  }

  .text blockquote::before {
    content: '';
    height: var(--sp-lg);
    width: var(--sp-lg);
    position: relative;
    background: url(../img/icons/quotes.svg) no-repeat;
    background-size: 100% auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .table-wrap {
    display: block;
    width: 100%;
    overflow-x: auto;
  }


  .text *:first-child img {
    margin-top: 0;
  }

  .text > * {
    margin-top: var(--text-space);
  }

  .text > *:first-child {
    margin-top: 0;
  }


  h2,
  .h2 {
    font-size: var(--h2);
    line-height: 1.2em;
  }

  h3,
  .h3 {
    font-size: var(--h3);
    line-height: 1.28em;
  }

  h4,
  .h4 {
    font-size: var(--h4);
    line-height: 1.2em;
  }

  h5,
  .h5 {
    font-size: var(--h5);
    line-height: 1.2em;
  }

  h6,
  .h6 {
    font-size: var(--h6);
    line-height: 1.2em;
  }

  &.shipping {
    & .text {
      & a, b {
        color: #BF0218;
      }
    }
  }


  & .contacts li {
    list-style: none;
  }
}

.s-return-request {
  &__inner {
    position: relative;
    padding: 90px 0;

    &:after {
      content: '';
      width: calc(100% - 30px);
      height: 100%;
      position: absolute;
      top: 0;
      left: 15px;
      background: #E8F4D8;
      z-index: -1;
    }
  }

  & .heading {
    margin-bottom: 30px;
    font-size: 34px;
    @media (max-width: $breakpoint-md) {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }

  & .description {
    margin-bottom: 50px;
    font-size: 22px;
    @media (max-width: $breakpoint-md) {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  & .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &__wrap {
      width: 80%;
      margin-left: auto;
      position: relative;

      &:after {
        content: '';
        padding-bottom: 100%;
        display: block;
      }
    }
  }
}