@import "../abstracts/mixins";
@import "../abstracts/variables";

.breadcrumbs {
  background-color: transparent;
  color: #555555;
 // @include fontSize(16, 22);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  color: #555555;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  width: 100%;
  z-index: 2;
  // white-space: nowrap;

  position: relative;
  @include transition(.4);
  overflow: auto;
  @media (max-width: $breakpoint-md) {
   font-size: 16px;
  }
  & a {
    color: #555555;
    //@include fontSize(16, 22);
    font-weight: 400;
    position: relative;
    font-size: 22px;
    @media (max-width: $breakpoint-md) {
      font-size: 16px;
    }
  }

  & .kb {
    &_title {
      color: #1D1F21;
      font-weight: 500;
    }

    &_sep {
      margin: 0 7px;
      position: relative;

      &:before {
        content: '';
        position: relative;
        top: -1px;
        right: 3px;
        width: 7px;
        height: 7px;
        display: inline-block;
        border-right: 1px solid #1D1F21;
        border-top: 1px solid #1D1F21;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        @include transition(.5);
      }
    }
  }

  &__wrap {
    padding: 25px 0;
    @media (max-width: $breakpoint-md) {
      padding: 18px 0;
    }
  }
}
