@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  position: relative;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 0;
  @include fontSize(14, 16);
  padding: 20px;

  //min-width: 174px;
  text-align: center;
  font-weight: 600;

  @include transition(.3);

  &:focus {
    outline: none;
  }

  &-primary {
    padding: 18px 60px 19px 60px;
    font-family: 'Murecho', sans-serif;
    background: $accent-color;
    color: $whiteColor;
    font-size: 22px;
    line-height: 1.44;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    @include transition(.5);
    @media (min-width: $breakpoint-md) {
      min-width: 333px;
    }
    @media (max-width: $breakpoint-md) {
      padding: 18px 15px 19px 15px;
      width: 100%;
      max-width: 330px;
    }

    &:hover {
      background: rgba(172, 0, 44, 1);
    }


  }

  &-link {
    color: rgba(29, 31, 33, 1);
    text-decoration: underline;
    background: transparent;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    line-height: 1;

    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    &.size-1 {
      font-size: 16px;
    }

    &.size-2 {
      @include fontSize(18, 20);
    }

    &.gray {
      color: rgba(112, 112, 112, 1);
    }

    &.accent-color {
      color: $accent-color;
    }

    &.no-decoration {
      text-decoration: none;
    }
  }

  &-transparent {
    font-size: 22px;
    font-family: 'Murecho', sans-serif;
    color: #E81010;
    border: 1px solid #E81010;
    padding: 17px;
    border-radius: 40px;

    & i {
      padding-left: 16px;
      @include fontSize(14, 16);
      @include transition(.4);
    }
  }

  &-cancel {
    cursor: pointer;
    text-align: center;
    background: transparent;
    font-size: 22px;
    padding: 17px 10px 19px 10px;
    font-family: 'Murecho', sans-serif;
    line-height: 1;
    text-transform: uppercase;
    width: 100%;
    border: 1px solid rgba(191, 2, 24, 1);
    border-radius: 40px;
    margin-top: 23px;
    @media (max-width: $breakpoint-md) {
      margin-top: 14px;
    }
  }

  &-layout {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #E8F4D8;
    padding: 3px;
    overflow: hidden;
    cursor: pointer;

    &__wrap {

    }

    &.active, &:hover {
      & span {
        background: #92C054;
      }
    }

    & span {
      display: block;
      position: relative;
      background-color: #9F9F9F;
      @include transition(.5);
    }

    &-1 {
      align-content: space-between;

      & span {
        width: 100%;
        height: 3px;
      }
    }

    &-2 {
      align-content: space-between;

      & span {
        width: 3px;
        height: 8px;

        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
          margin-right: 2px;
        }
      }
    }

    &-3 {
      align-content: space-between;

      & span {
        width: 8px;
        height: 8px;
      }
    }

    &:not(&:last-child) {
      margin-right: 9px;
    }
  }

  &-filter {
    cursor: pointer;
    @media (max-width: $breakpoint-md) {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background: #e8f4d8;
      justify-content: center;
    }

    & i {
      @include fontSize(14, 24);
      padding-right: 12px;
      color: rgba(29, 31, 33, 1);
      @media (max-width: $breakpoint-md) {
        padding-right: 0;
      }
    }

    & span {
    }
  }

  &-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
    cursor: pointer;

    & i {
      color: $whiteColor;
      font-size: 20px;
    }

    &.black {
      & i {
        color: #1D1F21;
      }
    }

    @media (max-width: $breakpoint-md) {
      top: 16px;
      right: 16px;
      & i {
        color: #1D1F21;
      }

    }
  }

  &-empty {
    border: 1px solid rgba(191, 2, 24, 1);
    color: rgba(29, 31, 33, 1);
    font-size: 22px;
    font-weight: bold;
    font-family: 'Murecho', sans-serif;
    padding: 10px 22px;
    background: transparent;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

    & i {
      color: rgba(240, 175, 191, 1);
      padding-right: 6px;
      font-size: 19px;
    }

    @media (max-width: $breakpoint-md) {

      margin-top: 33px;
      width: 100%;
    }
  }

  &-edit {
    width: 19px;
    height: 19px;
    background: rgba(240, 175, 191, 1);
    border-radius: 3px;

    & i {
      color: rgba(255, 255, 255, 1);
      font-size: 13px;
    }
  }
}


.layout-btn span:last-child {
  margin-bottom: 0;
}

.layout-btn span::before,
.layout-btn span::after {
  content: '';
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  background-color: #ccc;
}

.layout-btn span::before {
  left: -8px;
}

.layout-btn span::after {
  right: -8px;
}

.layout-btn.layout-btn-1 span {
  width: 3px;
  height: 3px;
  margin: 0 0 3px;
}

.layout-btn.layout-btn-1 i {
  position: absolute;
  left: 6px;
  top: 0;
  width: inherit;
  height: inherit;
  background-color: #ccc;
}

.layout-btn.layout-btn-1 span::before {
  left: 18px;
}

.layout-btn.layout-btn-1 span::after {
  right: -12px;
}

.layout-btn:not(:last-child) {
  margin-right: 15px;
}

.layout-block {
  display: none;
}

.layout-block.active {
  display: block;
}

.layout-btn.active {
  pointer-events: none;
}

.layout-btn.active span,
.layout-btn.active span::before,
.layout-btn.active span::after,
.layout-btn.active i {
  background-color: #ff671f;
}

.layout-4cols .h5 {
  font-size: 16px;
}


.btn__more {
  padding: 25px 114.95px 25px 49.05px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 40px;

  z-index: 3;
  @include transition(.4);
  @media (max-width: $breakpoint-xl) {

  }
  @media (max-width: $breakpoint-md) {

    padding: 11.5px 67.48px 11.5px 17.52px;
  }

  & .text {
    font-family: 'Murecho', sans-serif;
    @include fontSize(18, 22);
    line-height: 1;
  }

  & i {
    margin-left: 10px;
    width: 52.23px;
    height: 52.23px;
    border-radius: 100%;
    background: $accent-color;
    position: absolute;
    right: 49.05px;

    transform: rotate(-45deg);
    @include transition(.4);
    @media (max-width: $breakpoint-md) {
      width: 37.32px;
      height: 37.32px;
      right: 18.32px;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include fontSize(30, 45);
      color: #FFFFFF;
    }
  }

  &:hover, &:active {
    & i {
      @media (min-width: $breakpoint-md) {

        width: 60px;
        height: 60px;
      }
      right: 5.04px;
      background: rgba(255, 255, 255, 1);

      &:before {
        color: rgba(0, 0, 0, 1);
      }
    }
  }

  &:hover {
    color: #fff;
    background: rgba(191, 2, 24, 0.6);
  }

  &:active {
    background: rgba(191, 2, 24, 1);
  }
}

.fav-btn {
  width: 26px;
  height: 26px;
  background: transparent;
  padding: 0;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  @include transition(.25);

  & i {
    color: rgba(191, 2, 24, 1);
    font-size: 26px;
  }

  &.active, &:hover {
    & i {
      &:before {
        content: '\e908';
      }
    }
  }

  &.light {
    & i {
      color: #fff;
    }
  }

  &.red {
    & i {
      color: rgba(191, 2, 24, 1);
    }
  }
}


.btn-chat {
  width: 93px;
  height: 93px;
  border-radius: 100%;
  background: rgba(172, 0, 44, 0.5);
  position: fixed;
  bottom: 20vh;
  right: 15px;
  z-index: 10;
  @media (max-width: $breakpoint-xl) {
    bottom: 12vh;
  }
  @media (max-width: $breakpoint-xl) {
    width: 60px;
    height: 60px;

  }
  @media (max-width: $breakpoint-md) {
    width: 46px;
    height: 46px;
    right: 16px;
    bottom: 75px;
  }

  &__img {
    width: 54%;
    height: 54%;
  }
}

