@import "../abstracts/mixins";
@import "../abstracts/variables";


/*------------------------------------------*/
/* - POPUPS */
/*------------------------------------------*/
.popup {
  &-form {
    &__heading, &__description {

    }

    &__heading {
      @include fontSize(24, 32);
      width: calc(100% - 70px);
    }

    &__description {
      margin-bottom: 24px;
    }

    & .btn-primary {
      width: 100%;
    }
  }

  &-align {
    position: relative;
    z-index: 1;

    background: #E8F4D8;
    @media (min-width: $breakpoint-md) {
      padding: 50px;
    }
  }

  &-wrapper {
    position: fixed;
    z-index: 33;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    left: -100%;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;

    &.active {
      left: 0;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;

      & .bg-layer {
        opacity: 1;
      }
    }


    & .bg-layer {
      position: absolute;
      left: 0;
      top: -100px;
      right: 0;
      bottom: -100px;
      background: rgba(51, 51, 49, 0.7);
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
      opacity: 0;
    }
  }

  &-container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 780px;
    margin: auto;
    position: relative;
    background: #E8F4D8;

    &__with-image {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @media (max-width: $breakpoint-md) {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
      }

      & > .image__wrap {
        height: 100%;
        padding-bottom: 82.7%;
      }

      &.left-image {
        @media (min-width: $breakpoint-md) {
          -ms-grid-columns: 1fr 1.3fr;
          grid-template-columns: 1fr 1.3fr;
          min-height: 452px;
        }

      }
    }

    &.size-1 {
      max-width: 55rem;
    }

    &.size-2 {
      max-width: 28.25rem;
    }

    &.size-3 {
      max-width: 36.875rem;
    }

    &.size-4 {
      max-width: 27.563rem;
      padding: 34px 77px 34px 34px;
      -webkit-border-radius: 28px;
      -moz-border-radius: 28px;
      border-radius: 28px;

      @media (max-width: $breakpoint-md) {
        padding: 40px 16px;
        max-width: 330px;
        max-height: 80%;
        overflow: auto;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
      }
    }

    .size-5 {
      max-width: 33.625rem;
    }

    @media (max-width: $breakpoint-md) {
      border-radius: 12px;
      padding: 40px 16px;
      max-width: 327px;
      min-height: 200px;
    }
  }

  &-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;


    -webkit-transition: opacity .3s ease-out, left 0s .3s, -webkit-transform .3s ease-out;
    transition: opacity .3s ease-out, left 0s .3s, -webkit-transform .3s ease-out;
    -o-transition: transform .3s ease-out, opacity .3s ease-out, left 0s .3s;
    transition: transform .3s ease-out, opacity .3s ease-out, left 0s .3s;
    transition: transform .3s ease-out, opacity .3s ease-out, left 0s .3s, -webkit-transform .3s ease-out;
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0;
    left: -10000px;
    display: grid;
    /*  justify-content: center;
      align-items: center;
  */
    &.active {
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transform: scale(1);
      opacity: 1;
      left: 0;
      -webkit-transition: opacity .3s ease-out, left 0s 0s, -webkit-transform .3s ease-out;
      transition: opacity .3s ease-out, left 0s 0s, -webkit-transform .3s ease-out;
      -o-transition: transform .3s ease-out, opacity .3s ease-out, left 0s 0s;
      transition: transform .3s ease-out, opacity .3s ease-out, left 0s 0s;
      transition: transform .3s ease-out, opacity .3s ease-out, left 0s 0s, -webkit-transform .3s ease-out;
      position: relative;
    }

    @media (max-width: $breakpoint-md) {
      padding: 0 15px;
      max-width: 100%;
      overflow: auto;
    }

    & .layer-close {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 10000px;
    }

    /*&:after {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      content: "";
    }*/


    & .btn-primary {
      @media (max-width: $breakpoint-md) {
        display: block;
        font-size: 18px;
        max-width: 295px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.mb-24 {
  margin-bottom: 24px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 16px;
  }
}


.feedback {
  & .popup-container {
    max-width: 395px;
    padding: 0;
    background: transparent;
  }

  .review__item {
    width: 100%;
    background: #e8f4d8;
  }
}


.auth-popup {
  position: relative;
  z-index: 1;

  background: #E8F4D8;
  @media (min-width: $breakpoint-md) {
    padding: 50px;
  }

  & .heading {
    margin-bottom: 18px;
    @include fontSize(22, 28);
  }

  & .description {
    margin-bottom: 28px;
    @include fontSize(16, 20);
  }

  & .btn-primary {
    width: 100%;
  }

  & .form {
    &-control {
      margin-bottom: 12px;

      &__input {
        @include fontSize(18, 20);
        padding: 14px 18px;
        border: 1px solid #1D1F21;
        border-radius: 29px;
        background: transparent;
        font-size: 18px;
        font-family: 'LeagueSpartan', sans-serif;
        color: #707070;
        font-weight: 400;

        &::-webkit-input-placeholder {
          font-size: 18px;
          font-family: 'LeagueSpartan', sans-serif;
          color: #707070;
          font-weight: 400;
        }

        &::-moz-placeholder {
          font-size: 18px;
          font-family: 'LeagueSpartan', sans-serif;
          color: #707070;
          font-weight: 400;
        }

        &:-ms-input-placeholder {
          font-size: 18px;
          font-family: 'LeagueSpartan', sans-serif;
          color: #707070;
          font-weight: 400;
        }

      }

      &__icon {
        position: absolute;
        width: 16px;
        right: 18px;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);

        height: auto;
        z-index: 2;

        & i {
          font-size: 11px;
          color: #707070;
        }

        &.active {
          & i {
            color: $accent-color;
          }

        }
      }
    }

    &-buttons {
      padding: 0 20px;
      margin-bottom: 32px;
      margin-top: 4px;
    }
  }

  &__bottom {
    & > span {
      padding-right: 9px;
      font-size: 16px;
      color: #707070;
    }

    & .btn-link {
      &__wrap {
        margin-top: 24px;
        margin-bottom: 44px;
      }

      &.size-2 {
        display: block;
        margin: 24px auto 34px auto;
      }
    }

    & .checkbox-entry {
      & + .checkbox-entry {
        margin-top: 10px;
      }

      &__wrap {
        margin-top: 45px;
      }
    }
  }

}

.info-popup {
  @media (min-width: $breakpoint-md) {
    padding: 60px;
  }

  & .heading {
    margin-bottom: 14px;

    &__accent {
      color: #bf0218;
      @include fontSize(48, 69);
      font-style: italic;
      margin-bottom: 18px;
    }

    &.size-1 {
      @include fontSize(22, 26);
    }

    &.size-2 {
      @include fontSize(22, 28);
    }

    &.size-3 {
      @include fontSize(22, 32);
    }

    &.size-4 {
      @include fontSize(22, 38);
    }
  }

  & .description {
    margin-bottom: 24px;

    &.size-1 {
      @include fontSize(16, 20);
    }

  }

  & .btn-back {
    margin-top: 14px;
    text-decoration: underline;
    display: inline-block;
    font-weight: 500;
    color: rgba(29, 31, 33, 1);
    font-size: 18px;
  }

  &.zip {
    & .heading {
      margin-bottom: 24px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 14px;
      }
    }

    & .description {
      margin-bottom: 34px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 14px;
      }
    }
  }
}

.review-popup {
  & .heading {
    @include fontSize(22, 28);
    margin-bottom: 18px;
  }

  & .description {
    @include fontSize(16, 20);
    margin-bottom: 28px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 12px;
    }
  }

  & .form {
    &-control {
      margin-bottom: 28px;

      &__textarea {
        @include fontSize(18, 20);
        padding: 22px 18px;
        border: 1px solid #1D1F21;
        border-radius: 29px;
        background: transparent;

        font-family: 'LeagueSpartan', sans-serif;
        color: #686868;
        font-weight: 400;
        min-height: 107px;
        @media (max-width: $breakpoint-md) {
          min-height: 83px;
        }

        &::-webkit-input-placeholder {
          @include fontSize(18, 20);
          font-family: 'LeagueSpartan', sans-serif;
          color: #686868;
          font-weight: 400;
        }

        &::-moz-placeholder {
          @include fontSize(18, 20);
          font-family: 'LeagueSpartan', sans-serif;
          color: #686868;
          font-weight: 400;
        }

        &:-ms-input-placeholder {
          @include fontSize(18, 20);
          font-family: 'LeagueSpartan', sans-serif;
          color: #686868;
          font-weight: 400;
        }

      }
    }
  }
}

.cancel-order {
  & .description {
    margin-bottom: 23px;
  }

  & .order-detail {
    &__wrap {
      margin-bottom: 23px;
    }

    &__title, &__value {
      font-size: 20px;
      @media (max-width: $breakpoint-md) {
        font-size: 18px;
      }
    }

    &__title {
      color: rgba(172, 0, 44, 1);
    }

    &:not(&:last-child) {
      margin-bottom: 12px;
    }

    &__list {
      padding-left: 12px;
      padding-top: 12px;

      & li {
        &:not(&:last-child) {
          margin-bottom: 5px;
        }
      }

    }

    & .product {
      &__title, &__count {
        font-size: 14px;
      }

      &__title {
        width: 80%;
      }
    }
  }

  & .info {
    & h1, h2, h3, h4 {
      font-weight: bold;
    }

    &:not(&:last-child) {
      margin-bottom: 23px;
    }

    & a {
      color: $accent-color;
    }

    & > * {
      font-size: 20px;
      @media (max-width: $breakpoint-md) {
        font-size: 18px;
      }

      &:not(&:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}