@import "../abstracts/mixins";
@import "../abstracts/variables";


.pagination {
  width: 100%;
  background-color: transparent;

  &-container {
    //  padding: 100px 0 150px 0;
    @media (max-width: $breakpoint-lg) {
      //   padding-bottom: 100px;
    }
  }

  & .screen-reader-text {
    display: none;
  }

  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  & .nav-links {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .page-numbers {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      //@include fontSize(16, 22);
      font-size: 22px;
      font-weight: 600;
      text-align: center;
      color:#555555;
      font-family: "Merriweather", serif;
      width: auto;
      height: auto;

      cursor: pointer;
      @include transition(.4);
      background: $whiteColor;
      position: relative;

      &:not(&.prev,&.next){
        margin: 0 8px;
      }
      &.next, &.prev {

        & img {
          width: 15px;
          @include transition(.5);
          transform: translateX(0);
        }
      }

      &.next {
        margin-left: 2px;
        @media (max-width: 600px) {
          margin-left: 10px;
        }

        &:hover {
          & img {
            transform: translateX(10px);
          }
        }
      }

      &.prev {
        margin-right: 2px;
        @media (max-width: 600px) {
          margin-right: 10px;
        }

        &:hover {
          & img {
            transform: translateX(-10px);
          }
        }
      }

      &.current, &:not(.next,.prev):hover {
        color: #AC002C;
      }
    }
  }
}
