@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer {
  position: relative;
  background: rgba(29, 31, 33, 1);
  padding: 60px 0;
  @media (max-width: $breakpoint-md) {
    text-align: center;
    padding: 0 0 78px 0;
  }

  &:before {
    content: '';
    height: 445px;
    width: 120%;
    left: -10%;
    top: -131px;
    position: absolute;
    z-index: 3;
    background: #1d1f21;
    border-radius: 50%;
    @media (max-width: $breakpoint-md) {
      width: 130%;
      left: -15%;
      top: -80px;
    }
  }

  &__item {
    @media (max-width: $breakpoint-md) {
      margin-top: 54px;
    }

    &-title {
      margin-bottom: 25px;
      color: #fff;
    }

    & + .footer__item {
      @media (min-width: $breakpoint-md) {
        margin-top: 34px;
      }
    }
  }


  & .logo {
    height: 100%;
    width: 100%;
    object-fit: contain;

    &__wrap {
      width: 164px;
      height: 17px;
      display: block;
      @media (max-width: $breakpoint-md) {
        margin: 0 auto;
      }
    }
  }

  & .menu-item, & .contact-item {
    &:not(&:last-child) {
      margin-bottom: 19px;
    }

    & a {
      font-size: 22px;
      font-weight: 400;
    }
  }

  & .menu {
    &-item {
      & a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  & .contact {
    &-item {
      & a {
        color: rgba(146, 192, 84, 1);
        position: relative;

        &:after {
          content: '';
          width: 100%;
          height: 0.5px;
          background: rgba(146, 192, 84, 1);
          margin: 0 auto;
          position: absolute;
          bottom: 1.5px;
          left: 0;
        }
      }
    }
  }

  & .social {
    @media (max-width: $breakpoint-md) {
      justify-content: center;
    }

    &-item {
      &:not(&:last-child) {
        margin-right: 11px;
      }

      & a {
        width: 24px;
        height: 24px;
        border-radius: 0;

        border: none;
      }

      & img {
        filter: brightness(0) invert(1);
      }
    }
  }

  & .lang {
    position: absolute;
    display: inline;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    @include transition(.3);
    left: 0;
    top: 100%;
    background: #1d1f21;
    padding: 12px 0;
    -webkit-transform: translateY( 20px);
    transform: translateY( 20px);
    @media (max-width: $breakpoint-md) {
      -webkit-transform: none;
      transform: none;
      left: 1px;
    }

    & a {
      &:hover {
        color: #92c054;
      }
    }

    &__current {
      position: relative;
      cursor: pointer;

      & a {
        font-weight: 400;
        @include transition(.5);
        padding-right: 31px;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          right: 2px;
          top: 50%;
          transform: translateY(-50%);
          width: 17px;
          height: 10px;
          background: url("../img/ar-bottom.svg") center center no-repeat;

          @include transition(.5);
        }
      }
    }

    li {
      &:not(&:last-child) {
        padding-bottom: 10px
      }
    }

    &__wrap {
      a {
        color: #fff;
        font-size: 22px;
        @include transition(.5);
      }

      &.open {

        & .lang {
          pointer-events: all;
          visibility: visible;
          opacity: 1;
          -webkit-transform: translateY( 5px);
          transform: translateY( 5px);
          z-index: 5;
          @media (max-width: $breakpoint-md) {
            -webkit-transform: none;
            left: 24px;
            // top: calc(100% - 26px);
          }
        }
      }
    }
  }
}

