@import "../abstracts/mixins";
@import "../abstracts/variables";

.lang {
  position: absolute;
  display: inline;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  @include transition(.3);
  left: 0;
  top: 100%;
  background: #1d1f21;
  padding: 12px 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  @media (max-width: $breakpoint-md) {
    -webkit-transform: none;
    transform: none;
    left: 1px;
  }

  & a {
    color: #fff;

    &:hover {
      color: #92c054;
    }
  }

  &__current {
    position: relative;
    cursor: pointer;

    & a {
      font-weight: 400;
      @include transition(.5);
      padding-right: 31px;
      position: relative;
      color: #92c054;
    }
  }

  li {
    &:not(&:last-child) {
      padding-bottom: 10px
    }
  }

  &__wrap {
    @media (max-width: $breakpoint-md) {
      margin: 0 auto;
      width: max-content;
    }

    a {

      font-size: 22px;
      @include transition(.5);
    }

    & i {
      color: #92c054;
    }

    &.open {

      & .lang {
        pointer-events: all;
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        z-index: 5;
        @media (max-width: $breakpoint-md) {
          -webkit-transform: none;
          left: 24px;
          // top: calc(100% - 26px);
        }
      }
    }
  }
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(146, 192, 84, 1);
  z-index: 10;
  visibility: visible;
  opacity: 1;

  @include transition(.5);

  &__top {
    height: 36px;
    background: $accent-color;

    & .marquee {
      position: relative;
      width: 100vw;
      max-width: 100%;
      overflow-x: hidden;

      &__track {
        white-space: nowrap;
        will-change: transform;
        animation: marquee 16s linear infinite;
      }

      &__content {
        font-size: 16px;
        color: #fff;
      }
    }


    /*
        & .marquee {
          --marquee-gap: max(1rem, 3.125vw);
          --marquee-font: max(1rem, 2vw);
          height:36px;
          ///height: calc(var(--marquee-font) * 2.2)
          &-line {
            position: relative;
           // height: calc(var(--marquee-font) * 3);
            width: 100vw;
           // margin-left: -20vw;
            will-change: transform;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden
          }

          &-item {
            position: absolute;
            top: 50%;
            -webkit-transform: translate3d(var(--x), -50%, 0);
            transform: translate3d(var(--x), -50%, 0);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            padding: 12px 0;
          }

          &-content {
            gap: var(--marquee-gap);
            font-size: 16px;
            color: #fff;
            font-family: "Merriweather", serif;
            //font-size: var(--marquee-font);
           // line-height: 1em;
            //color: var(--clr-white);
            //text-transform: uppercase;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-inline: calc(var(--marquee-gap) / 2);

            & > * {
              -ms-flex-negative: 0;
              flex-shrink: 0;
              font-size: 16px;
              font-family: "Merriweather", serif;
              color: #fff;
            }
          }
        }*/
  }

  &__main {
    padding: 9px 0;
    position: relative;
    z-index: 2;

    &:after {
      content: '';
      width: 100vw;
      height: 100%;
      background-color: rgba(146, 192, 84, 1);
      margin-left: calc((-100vw + 100%) / 2);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  .lang {
    background: #92c054;
    padding: 10px 5px;
    width: 100%;
    @media (max-width: $breakpoint-md) {
      background: transparent;
      display: none;
      transform: none;
      position: relative;
      transition: none;
      visibility: visible;
      opacity: 1;
      padding: 28px 0;
    }

    & a {
      color: #fff;

      &:hover {
        color: #fff;
      }

      @media (max-width: $breakpoint-md) {
        color: #707070;
        font-weight: 700;
      }
    }

    &__current {
      position: relative;
      cursor: pointer;
      @media (max-width: $breakpoint-md) {
        color: #92C054;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: 1px solid #92C054;
      }

      & a {
        font-weight: 400;

        padding-right: 6px;
        position: relative;
        color: #fff;
        @media (max-width: $breakpoint-md) {
          color: #92C054;

        }
      }

      & i {
        font-size: 24px;
        color: #fff;
        @media (max-width: $breakpoint-md) {
          color: #92C054;
          font-size: 38px;
          padding-right: 6px;
        }
      }
    }

    li {
      @media (max-width: $breakpoint-md) {
        padding-bottom: 0;
        border-bottom: 1px solid #707070;
      }

      &:not(&:last-child) {
        padding-bottom: 10px;
        @media (max-width: $breakpoint-md) {
          padding-bottom: 0;
          margin-bottom: 14px;
        }
      }
    }

    &__wrap {
      margin-left: 45px;
      margin-right: 5px;
      @media (max-width: $breakpoint-md) {
        margin: 14px 0 0 0;
        width: 100%;
      }

      a {
        font-size: 22px;
        @include transition(.5);
        @media (max-width: $breakpoint-md) {
          font-size: 28px;
          font-weight: 700;
          text-transform: uppercase;
          font-family: "Merriweather", serif;
        }
      }

      &.open {

        & .lang {
          pointer-events: all;
          visibility: visible;
          opacity: 1;
          -webkit-transform: translateY(5px);
          transform: translateY(5px);
          z-index: 5;
          @media (max-width: $breakpoint-md) {
            -webkit-transform: none;
            left: 24px;
            // top: calc(100% - 26px);
          }
        }
      }
    }
  }

  & .logo {
    width: 149.31px;
    height: 16.54px;
    max-height: none;

    &-link {
      display: inline-block;
      vertical-align: top;
      @media (min-width: $breakpoint-md) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  & .navbar {
    position: absolute;
    top: 100%;
    width: 100%;
    padding-top: 52px;
    @media (max-width: $breakpoint-md) {

      display: none;

    }

    & .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3.75em;

      &-item {
        & a {
          font-size: 20px;
          font-weight: 400;
          text-transform: uppercase;
          color: $whiteColor;
          font-family: "Merriweather", serif;
          @include transition(.5);
        }

        &:hover {
          & a {
            color: $whiteColor;
            text-shadow: 0 0 0.9px $whiteColor, 0 0 0.9px $whiteColor, 0 0 0.9px $whiteColor;
          }
        }
      }
    }
  }

}

.burger {
  &__wrap {
    width: 44px;
    height: 24px;
    background: transparent;
    @media (max-width: $breakpoint-lg) {
      width: 44px;
      height: 24px;
    }

    &.active {

      & .burger {
        & span {
          width: 100%;

          &:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
          }
        }
      }
    }
  }

  display: flex;
  cursor: pointer;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  @include transition(.3);

  & > span {

    height: 3px;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    z-index: 999;
  }
}

.user__cabinet {
  margin-top: -3px;
  padding: 2px 12px 1px 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 27px;

  &, span, & i {
    @include transition(.5);
    color: rgba(255, 255, 255, 1);
  }

  & span {
    padding-left: 3px;
    position: relative;
    font-size: 22px;
    line-height: 26.84px;
    color: rgba(255, 255, 255, 1);
  }

  &:hover {

    background: #fff;

    & span, & i {
      color: rgba(29, 31, 33, 1);
    }
  }
}

.h-menu-toggle {
  background: rgba(232, 244, 216, 1);

  & .h-drop {
    &__list {
      & li {
        & a {
          padding: 6px 0;
          font-size: 28px;
          font-weight: bold;
          font-family: "Merriweather", serif;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-bottom: 1px solid rgba(29, 31, 33, 1);
          @include transition(.4);

          & i {
            font-size: 40px;
            padding-left: 10px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            @include transition(.4);
          }

          &:hover {
            color: rgba(172, 0, 44, 1);
            border-color: rgba(172, 0, 44, 1);

            & i {
              color: rgba(172, 0, 44, 1);;
            }
          }
        }

        &:not(&:last-child) {
          margin-bottom: 20px;
        }


      }
    }
  }
}

.h-menu-toggle {
  position: absolute;
  z-index: -1;
  top: var(--h-height);
  left: 0;
  width: 100%;
  height: auto;
  @include transition(.5);

  padding-block: 1.875rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 7;
}

.open-menu .h-menu-toggle {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.h-menu-img {
  &-wrapp {
    position: relative;
    max-width: 90%;
    margin-left: auto;
    padding-bottom: 74%;
  }

  &:not(.default-img) {
    z-index: 2;
    opacity: 0;
    @include transition(.5);
  }

  & img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    content-visibility: auto;
    border-radius: 1rem;
  }

  &.active:not(.default-img) {
    opacity: 1;
  }
}

